[2016-04-07 11:38] tailec opened #1 "ignoreWhen (was: reject)"
### reject
`reject` operator as an opposite of `filter`.

### Motivation for inclusion
It's trivial operator but I find it more verbose than i.e. `.filter { $0 != foo }`.

### Example of usage
[code]
Instead of

[code]

[2016-04-07 11:45] icanzilb opened #2 "Refine unwrap"
`unwrap` was included while we were drafting the repo structure as an example - I got to:
1) add more tests - test for values, edge cases
2) have another look at the code
3) refine the playground example

I think it's important for this one to is the way we want the code to look lile since this is the first piece of code and others who PR would look at it for guidance how to structure their stuff

[2016-04-07 12:16] bontoJR commented on #1
@tailec I create a quick template for issues, can you try to re-structure this issue with the template I proposed? So we can see if it makes sense?

[2016-04-07 12:33] tailec commented on #1
@bontoJR fixed :)

[2016-04-07 12:42] fpillet commented on #1
@tailec: shouldn't this operator be called `rejectIf` since the closure is a conditional ?

[2016-04-07 12:45] tailec commented on #1
@fpillet Yeah, I personally like `rejectWhen`.

[2016-04-07 12:47] fpillet commented on #1
In fact I think even the term `reject` is too strong. RxSwift has a `ignoreElements()` operator. Lets name yours `ignoreWhen` to make it clear that it won't trigger an error, just ignore elements

[2016-04-07 12:51] fpillet commented on #1
Let's go ahead with this one. I checked the operators list on [ReactiveX](http://reactivex.io/documentation/operators.html) and couldn't come up with a better name. I think we're good.

[2016-04-07 13:05] icanzilb opened #3 "negate(Bool) -> Bool"
### negate

`negate()` negates a `Bool` value

Not sure if that's the best name for the op?

### Motivation for inclusion

Especially when working with UI you need to show/hide controls - the problem is that the same observable (let's say `shouldShowSearchBar`) will drive both the _visibility_ of a search and the fact that some buttons will **not** be hidden - I get to use that often and I think h

[2016-04-07 13:05] fpillet opened #4 "Observable.once"
### Name of the operator

`Observable.once()` or `Observable.justOnce()`

### Motivation for inclusion

The `Observable.just()` function creates a sequence that delivers a single value to its observers, then completes. In some cases you want an observable to deliver a value *once* and exactly once.

For example it may be a one-time location value for setting up the initial position of a map: you w

[2016-04-07 13:06] icanzilb commented on #3
the operator could also work on `Observable<Int>` or `Observable<Double>` but I think this won't be a common use case, what do you guys think?

[2016-04-07 13:08] icanzilb commented on #4
how would that observable play with `replay...`? Will always deliver that one value to all subscribers?

[2016-04-07 13:08] fpillet commented on #3
ReactiveCocoa uses `not`, I think it's a better name

[2016-04-07 13:09] fpillet commented on #4
It wouldn't replay. The purpose is to guarantee delivery once and only once, regardless of the number of subscribers and other operators applied to the sequence. Replay would just immediately terminate.

[2016-04-07 16:39] thanegill opened #5 "Add Code of Conduct"
http://contributor-covenant.org

[2016-04-07 16:42] thanegill commented on #3
Something like this?

[code]

[2016-04-07 16:43] fpillet commented on #3
Perfect, care to push it to repo? Maybe send a PR, and we may need to put things in

[2016-04-07 16:44] fpillet commented on #3
Oh BTW `Driver` is `RxCocoa` - We discussed doing a second repository (`RxCocoa+Ext`) for RxCocoa, so maybe the driver version should be left out for now

[2016-04-07 16:47] thanegill commented on #3
Grr... This is where I wish there was some way to define operators that can be used on both Observable and Driver. But yeah I'll leave the Driver not operator out.

[2016-04-07 16:49] fpillet commented on #3
The jury is not out on this. We can discuss it with @kzaher on the RxSwift Slack and see how we move forward. I can see how splitting things can be a pain, although we also need to think about the server side and people who do not include RxCocoa.

[2016-04-07 17:00] thanegill commented on #3
It's somewhat out. https://github.com/ReactiveX/RxSwift/issues/496

I agree with everything that @kzaher said there. I don't think there is a better way than what's currently in place, especially if Driver is not the only Unit. Maybe there's some way to opt into operators, like a mixin or trait.

[2016-04-08 07:00] fpillet commented on #5
Sure, please go ahead with this one

[2016-04-08 07:18] fpillet opened #6 "concatElements"
### Name of the operator

`concatElements` operator ensures sequential delivery of all elements of each inner sequence
### Motivation for inclusion

While the `merge()` operator merges the elements of all inner sequences, it doesn't guarantee order of delivery. This operator guarantees that each new inner sequence emitted by a sequence will be subscribed to immediately, but element it emits will b

[2016-04-08 07:52] fpillet opened #7 "ignore(element ...)"
### Name of the operator

`ignore(element ...)`

### Motivation for inclusion

This operator allows ignore one or more specific elements emitted by the source sequence. The idea is to have the operator take a variable number of parameters (all of the element type) or an array.

The only constraint is that elements must conform to the `Equatable` protocol.

### Example of usage

[code]

[2016-04-08 07:54] icanzilb commented on #7
👍I also use that in my code, definitely useful

[2016-04-08 11:13] icanzilb opened #8 "mapTo(Any)"
### replaceWith(AnyObject)

maps any value to a constant

[code]
### Motivation for inclusion

Sometimes I need to just replace whatever value an Observable emits with a given constant, often times I'll do that for buttons:

[code]

### Example of usage

[code]

[2016-04-08 13:47] fpillet commented on #8
The naming leaves me perplexed ... what about `mapTo` ?

[2016-04-08 13:53] icanzilb commented on #8
To me personally `map` in the name would imply some mapping being done (which is still the case even if the input is being totally ignored). `replaceWith` better expressed the intention to completely ignore the input on my own code. That being said - I don't have any strong affections what the precise name of the operator will be. Maybe poll more ppls from rxswiftcommunity?

[2016-04-08 14:26] esttorhe commented on #8
IMHO replace conveys to me more meaning for this specific operator than mapTo.

I don't think mapTo is a bad choice just that to me specifically replace clicks better on my brain

[2016-04-10 01:01] phuna opened #9 "Observable.serialize"
### Name of the operator
`Observable.serialize()`

### Motivation for inclusion
I'm new to Rx so I'm not really sure if this is a appropriate usage of ReactiveX's [serialize operator](http://reactivex.io/documentation/operators/serialize.html) or not. In my case I think it's useful because I need to create a bunch of HTTP requests in background then in response handler of each request I call `obse

[2016-04-10 10:59] fpillet commented on #9
This is the purpose of the `concatElements` issue #6 I added. Please add to the discussion there, we can also discuss the naming of the operator.

[2016-04-10 10:59] #9 closed

[2016-04-10 22:26] fpillet commented on #7
Implemented in 6d19ad9

[2016-04-10 22:27] #7 closed

[2016-04-11 23:52] phuna commented on #6
@fpillet As you mentioned in #9 I think this one should be called `serialize` because its behavior is same as [ReactiveX' serialize](http://reactivex.io/documentation/operators/serialize.html) .

[2016-04-12 00:10] phuna commented on #6
@fpillet I've just checked `serialize` doc again, it doesn't guaranty order like this operator so elements emitted by sequence 2 can interleave with elements emitted by sequence 1. This operator is more like `concat().serialize()`

[2016-04-12 00:11] phuna commented on #6
@fpillet `serialize().concat()` seems more correct.

[2016-04-12 06:34] fpillet commented on #6
@phuna I checked the `serialize` docs too and they cover a completely different topic - ensure that calls to the observer are made in a specific order (no `onNext` after a `onCompleted` or `onError` etc). What we are talking about here is delivering the elements of a series of observables in the order the observables where sent to a sequence.

I think the `concatElements` name is closer to the exp

[2016-04-12 10:20] fpillet commented on #4
Implemented by commit 3a8cc55

[2016-04-12 10:20] #4 closed

[2016-04-12 11:54] phuna commented on #6
@fpillet Per my understanding `serialize`'s purpose is mainly dealing with `Observable`s which use multiple threads, it guaranties that:
- No `onNext` after `onCompleted` or `onError` as you said
- No 2 `onNext`s at the same time
Your description also mentions about sending out multiple network requests so I assume that it also handle multiple threads situation right? If so it looks like `serializ

[2016-04-12 11:55] fpillet commented on #6
This is correct, and not the same purpose as the operator we're talking about here.

[2016-04-12 13:32] fpillet opened #10 "throttledSample"
### Name of the operator

[code]

This operator will deliver the latest element of the source sequence at a specified interval. If the source sequence keeps sending out new elements, you are guaranteed to receive one every `interval` seconds.

If the source sequence stops sending elements:
- if `pauseInterval` is specified and > 0, send the latest element after `pauseInterval` seconds
- if `pauseI

[2016-04-12 13:52] phuna commented on #6
@fpillet yeah maybe looking at the implementation once it done will give me better understand :) . BTW could you reopen #9 as it's about a different operator?

[2016-04-12 13:54] fpillet commented on #6
Is #9 really a different operator? Isn't your request the same, that is to serialize the results of each request and have them sent one after the other on the resulting observable?

[2016-04-12 15:33] icanzilb commented on #8
looks like we're going with `mapTo`: https://github.com/ReactiveX/rxjs/blob/master/src/operator/mapTo.ts

[2016-04-12 15:51] icanzilb commented on #8
https://github.com/RxSwiftCommunity/RxSwift-Ext/pull/12

[2016-04-12 15:51] #8 closed

[2016-04-12 22:31] fpillet opened #13 "cascade (was: swichTo)"
### Name and description

`switchTo(other : Observable<E>)`

this operator will send all elements emitted by the source observable until the `other` observable starts emitting elements, at which point only elements emitted by `other` will be considered.

may need an additional optional flag to control whether the resulting observable completes when any of `self` and / or `other` completes

### Mot

[2016-04-12 22:44] IanKeen opened #14 "Subscription overloads to allow weak referencing of targets"
### Subscription overloads to allow weak referencing of targets

Currently when you subscribe to an observable the pattern is something like:
[code]
This allows us to avoid retain cycles on `self` but is cumbersome, it is tempting to write the following:
[code]
however we have now introduced a retain cycle on `self

### Motivation for inclusion
The second format is much more desirable but is obvio

[2016-04-12 22:47] IanKeen commented on #14
If approved, I would of course be happy to submit a PR :smile:

[2016-04-12 23:07] phuna commented on #6
In #9 I meant to request implementation for `serialize` operator as documented on ReactiveX so I think it's a different one as you also agreed above. That operator is not about concatenate multiple sequences but to ensure that a sequence will send `onNext` one after one even it uses multiple threads.

[2016-04-13 18:45] brunogb opened #15 "retry / repeat (was: retryWithDelay)"
### Name and description

`retryWithDelay(numberOfAttempts: Int, delayIncrease: Double)`
### Motivation for inclusion

Allows an operation to wait some time before trying again in case of error. Also allow for increment the waiting after each failed attempt
### Example of use

We could use this operator like a "Retry to connect in" that we seen in many communicators app.
Sometimes it may be better

[2016-04-13 22:07] fpillet commented on #13
An idea came up re-reading this proposal:

`switchTo(other : Observable<E> ...)`

In other words, the behavior of the proposed `switchTo` but applied to any number of parameters (of course a variant with a `SequenceType` will be available.

I think this is an affordable generalization of the operator. Opinions? @dpassage ?

[2016-04-13 22:28] fpillet commented on #15
I'd like to explore the possibility of having a dynamic retry mechanism. This would allow for exponential backoff scenarios, provided we do something like this:

`RetryHandler` would take the number of attempts so far, the delay that was applied for each attempt
and return a value >= 0 to retry, < 0 to stop retrying. This is not an ideal situation,

[code]

Opinions?

[2016-04-14 01:41] dpassage commented on #13
Would the intent be that if _any_ of the arguments pop, switch to that one? Or would it be a cascade of sorts?

[2016-04-14 05:46] fpillet commented on #13
I'm thinking about a cascade. Actually I was considering proposing the name `casadeTo`

[2016-04-14 21:20] fpillet commented on #1
implemented by c9eceea

[2016-04-14 21:20] #1 closed

[2016-04-14 21:27] fpillet commented on #14
One thing comes up when reading your proposed code -- is the compiler happy about naming a parameter "weak" ? I know we can do it now in Swift 2.2 but you'll need to enclose it in backticks in the function definition

[2016-04-14 21:32] fpillet commented on #13
Actually hedging towards `cascade` as a name. This way we can seemlessly offer implementations that cascade an observable to any number of subsequent observables, and also offer a `Observable.cascade(obs : Observable<E> ...)` implementation with a coherent naming scheme

[2016-04-14 21:35] fpillet commented on #13
In the same spirit, what about `cascadeTo` (`someObservable.cascadeTo(someOtherObservable)`) and `cascade` as a static function of `Observable`(`Observable.cascade(a, b, c)`)

[2016-04-14 21:58] IanKeen commented on #14
I'm using this in a 2.2 project 'as-is' doesn't appear to need backticks

[2016-04-14 21:59] IanKeen commented on #14
Are you saying that swift 3.0 will need backticks ?

[2016-04-14 22:00] fpillet commented on #14
Nope I'm saying that AFAIK Swift 2.2 allows using most keywords as parameter names, but you must backtick them in the function definition (not in the function calls)

[2016-04-14 22:03] IanKeen commented on #14
hmm, doesn't appear to be the case for this. I'm using this exact code in a 2.2 project (I've not upgraded to 7.3 yet)

[2016-04-14 22:03] fpillet commented on #14
Ok so my bad, I though that we were going to need backticks! all good then.

[2016-04-14 22:03] IanKeen commented on #14
:smile: :+1:

[2016-04-14 22:06] fpillet commented on #14
Now for this PR -- guess you're going to have fun with the tests suite!

[2016-04-14 22:07] IanKeen commented on #14
haha, wish me luck :wink:

[2016-04-15 08:56] fpillet commented on #15
Ok more thoughts about this excellent idea for an operator. I think we can implement several possible variations to cover the full spectrum:

**Retry with a fixed delay at each iteration:**
`retry(maxAttemptCount : Int, delay : Double)`

**Retry with a fixed delay increase at each iteration, optionally providing the initial delay:**
`retry(maxAttemptCount : Int, initialDelay : Double = 0, delayInc

[2016-04-15 08:57] bontoJR commented on #6
This operator is called `concatMap` and has some drawbacks and risks in RxSwift.  Please see [Issue 403](https://github.com/ReactiveX/RxSwift/pull/403) in RxSwift's repo to better understand why this operator has to be carefully implemented to avoid deadlocks or potential stack overflows. :)

[2016-04-15 09:04] fpillet commented on #15
I think we should also add a `scheduler` parameter (with a default going to the `MainScheduler.instance`).

Therefore I suggest we do:

**Retry with a fixed delay at each iteration:**
`retry(maxAttemptCount : Int, delay : Double, scheduler : SchedulerType = MainScheduler.instance)`

**Retry with a fixed delay increase at each iteration, optionally providing the initial delay:**
`retry(maxAttemptCo

[2016-04-15 09:31] fpillet commented on #6
Thanks @bontoJR, I had overlooked this discussion on RxSwift. What we are proposing here is a simplified version of `concatMap`, but the full version of `concatMap` would be desirable.

I think we can afford to go for an implementation similar to what @kzaher tried in his benchmark tests. RxSwift+Ext is not meant to bump up the library's level of performance -- rather, bring convenience operators

[2016-04-15 09:42] bontoJR commented on #6
I am aware of that. :)

The problem is that, sometimes, some operators cannot be only "conveniences", but have to be coded in a way to avoid performance impacts. This operator seems, in a first sight, really hard to be a convenience w/o optimisations, but I might be wrong. :)

[2016-04-15 09:45] fpillet commented on #6
I'll give it a shot. We are solving problems here exclusively relying on other operators, vs. the internal optimized implementations of RxSwift. This is like a safety net. I'm not *that* concerned about performance impacts at this stage, because primary usage seems to be for network request processing, mainly.

[2016-04-15 09:59] bontoJR commented on #6
@fpillet totally reasonable, I would state in the documentation to avoid ppl complaining if used with non-finite observables. :)

[2016-04-15 11:57] brunogb commented on #15
Hey @fpillet nice suggestions :)

I think we could keep the enum approach and improve in the number of cases to cover full spectrum?
Also totally agree to pass an scheduler also.
Also i think we could provide a case where the delay could be calculated based on the retry counter. Maybe after the third try, i would like to wait a minute to try again.

[code]

What do you think?

[2016-04-15 12:46] fpillet commented on #15
The last one `.Cancelled` doesn't make sense until it is returned by a closure during a retry. For enum cases with multiple parameters I think we should use named parameters otherwise reading the code may not be clear (maybe I'm splitting hair but I think making the intent obvious a an important thing)

Also, since we are passing an enum, why not make `maxAttempts` part of the enum case ?

[2016-04-15 13:01] brunogb commented on #15
Ah yes, I thought for the real code to have named parameters :)

Should be something like this then:
[code]

Also, maybe `ExponentialDelayed` and `PercentageDelayed` could be just one. If you pass an double like `1.7` you will be incrementing 70% on each retry. So we could end with 4 cases:

[code]

[2016-04-15 13:03] brunogb commented on #15
Also we could rename `Choice` to `Behavior`:
[code]

[2016-04-15 14:28] fpillet commented on #15
I like this. I'd also like to add something similar for regular observable completion (`repeatWithBehavior`) once we're settled with this one.

[2016-04-15 14:31] fpillet commented on #15
Actually while we are at it, we could go as far as:

[code]

That is, have a condition in addition to a behavior. Is that too much? I don't think so, as long as there's a default parameter for unconditional behavior.

[2016-04-15 15:29] sergdort commented on #2
Hi, guys correct me if I wrong :)

But I think it would be more understandable for [Optional](https://github.com/RxSwiftCommunity/RxSwift-Ext/blob/master/Source/unwrap.swift#L37) `isEmpty` to be
[code]
rather then
[code]

[2016-04-15 17:10] icanzilb commented on #2
@sergdort have you tried if the code you're proposing works?

[2016-04-15 18:25] sergdort commented on #2
@icanzilb the tests are passing on my machine :)

[2016-04-15 20:40] icanzilb commented on #2
ok I'll give it a try 👍

[2016-04-17 21:48] icanzilb commented on #3
@thanegill will you find the time to do a PR with this operator?

[2016-04-17 21:49] #2 closed

[2016-04-18 08:25] icanzilb commented on #2
@sergdort thanks for the suggestion - I made the update to the code already 👍

[2016-04-18 17:32] IanKeen commented on #14
PR #17

[2016-04-19 09:43] fpillet commented on #14
Thanks, Ian! Will review this tonite.

[2016-04-20 20:08] fpillet commented on #13
Implemented as `cascadeTo` and `Observable.cascade` in 972a1a5

[2016-04-20 22:05] fpillet commented on #13
What's been done is not enough. One issue is that a later sequence can complete before earlier ones, and the resulting sequence may never complete. Also, we need locking. Improvements forthcoming.

[2016-04-20 22:45] fpillet commented on #13
Done in 49281d8

[2016-04-20 22:45] #13 closed

[2016-04-20 22:45] #5 closed

[2016-04-20 22:46] fpillet commented on #14
Merged  40566f2

[2016-04-20 22:46] #14 closed

[2016-04-22 04:29] #3 closed

[2016-04-26 11:55] fpillet opened #20 "Write a proper README.md with examples"
Current readme is just a template, write one that lists the available operators and show some example of use

[2016-04-26 11:56] fpillet commented on #10
Since there doesn't seem to be any contradictory discussion, I'll go ahead and approve this one.

[2016-04-26 13:12] sergdort opened #21 "Distinct operator"
### Name and description
`distinct()`

[suppress duplicate items emitted by an Observable](http://reactivex.io/documentation/operators/distinct.html)
### Motivation for inclusion

We have some variants of `distinctUntilChanged` operator in the main repo, but do not have `distinct`, which is implemented for the most other languages which supports Rx.

### Proposed implementation

[code]

[2016-04-27 10:33] icanzilb commented on #21
I'm just thinking aloud here - say if you're using this operator on an Observable<UIImage> wouldn't that consume a lot of memory very quickly? Since the element is a `Hashable` anyway (in your proposed code) isn't it better to store the hashes instead of the elements themselves?

[2016-04-27 13:52] sergdort commented on #21
@icanzilb, I see your point.

But, I wonder if could be a case where `Observable` emits elements which  have a different type but they are related ?
Kind of :
[code]

So in this case b would not be edited.

Or I missing something :)

[2016-04-27 13:54] sergdort commented on #21
But, yeah potential memory problems is definitely a problem :(

[2016-04-27 13:56] sergdort commented on #21
But if we talking about classes. Isn't `Set` will just hold strong reference to the object?

[2016-04-27 14:29] icanzilb commented on #21
In your code you're adding the parameter to `Hashable` not to classes. And even if we limit the operator to classes I think this case will be even worse because adding the object to the set will eventually retain it, while it otherwise might have been released (in case nothing else retained the object of course). I think this

[2016-04-27 14:46] icanzilb commented on #21
I can see this operator being totally useful, I'm just thinking of a way to have it without a) side effects (e.g. retaining the objects and b) optimal memory footprint (e.g. when the Observable is emitting structs)

[2016-04-27 14:58] sergdort commented on #21
@icanzilb  I totally agree with you

The only concern that I have is in this test case:

[code]

As you can see in this case `hashValue` of `a` and `b` is the same (sure this is very bad design of `hashValue ` in the `B` class but equality of `hashValues` in any cases does not guaranty that objects are equal)

In this case if I would store hashes in the Set instead of a real object I would end up

[2016-04-27 15:06] icanzilb commented on #21
My impression was `Set` also uses `hashValue` to determine the uniqueness of the objects. I'll research on that later on, need to do smth else right now

[2016-04-27 21:13] fpillet commented on #21
Seems to me that we could provide several versions of this `distinct` operator:

- one that is generalized and requires elements to conform to the `Equatable` protocol. Would be the slowest implementation because it would have to compare all elements in a list until it finds one that is equal (or not)

- An implementation for the case where elements conform to `Hashable` and `Equatable`: we store

[2016-04-28 07:07] sergdort commented on #21
Good point @fpillet !

I wonder if they are we could also have one version for `Comparable` and  always keep array sorted so we can use binary search?
Or this is too much?

[2016-04-28 07:09] fpillet commented on #21
That's another good idea although I'm not sure we need to go that far -- with `Hashable` and relying on standard Swift library implementation of `Set` we should be pretty good. But it's worth a shot with some performance comparison. In there is a gain, then yes it makes sense to have a third implementation!

[2016-04-28 21:03] fpillet commented on #21
Ok so let's go with two implementations, and @sergdort if you think that we can get increased performance with a third implementation specializing on `Comparable`, please feel free to add it too

[2016-04-30 23:45] thanegill opened #22 "repeatEvery operator"
### repeatEvery

Repeats an observable sequence each period.

[code]
### Motivation for inclusion

Cleaner more readable repetition/polling for an observable.
### Example of use

[code]

[2016-05-02 05:57] fpillet commented on #22
Excellent idea! While we're at it, why not do:

[code]

So that by default, it never stops (iterations = 0) and you can specify a maximum iteracount count. Of course this could also be taken care of with `take(1)` so the idea may be too much.

Also, instead of sending `self` as a next element, we could send something more useful like the current iteration count, or the current time, or a tuple wit

[2016-05-04 18:36] sergdort opened #24 "CI integration setup"
Hi, guys

Since we have some working operators already.
What do you think about CI ?

[2016-05-04 19:06] icanzilb commented on #24
I ❤️ it :) And we also need Danger to take care of first line support (at the very least)

[2016-05-04 21:54] fpillet commented on #24
I'm all for it! We have proper tests from the get go, so it totally makes sense

[2016-05-04 22:14] #21 closed

[2016-05-04 22:15] fpillet opened #25 "Add playground examples for `cascade` and `distinct`"
As mentioned in the title - Playground falling a bit behind, may need reorg to group operators on less pages

[2016-05-06 23:05] fpillet commented on #25
implemented by 1d29b72 and 9a3e897

[2016-05-06 23:05] #25 closed

[2016-05-06 23:08] icanzilb commented on #25
👍💵🐕

[2016-05-06 23:33] fpillet opened #27 "ignoreErrors"
### ignoreErrors

Ignore errors produced by an observable. Two forms are proposed for this operator:

[code]

### Motivation for inclusion

There was a discussion on the [RxSwift slack channel](https://rxswift.slack.com) about the need to sometime ignore errors (or some errors) from network requests. Hence the proposal for two variants of the operator, one that unconditionally ignores all errors a

[2016-05-07 13:29] #24 closed

[2016-05-07 14:14] sergdort opened #29 "catchErrorJustComplete"
### Name and description

`catchErrorJustComplete ` completes sequence if it fails with error

### Motivation for inclusion

- improves declarative nature of Rx, so you don't need to write every time:

`catchError { return Observable.empty() }``

### Example of use

[code]

I remember that it has been proposed in slack by dpaschich . So he probably the one who would like to port it :)

[2016-05-08 14:55] sergdort opened #30 "paginate operator"
### Name and description

Paginate operator
- provides pagination behavior
### Motivation for inclusion

It was highly inspired by [this](https://github.com/ReactiveX/RxSwift/blob/master/RxExample/RxExample/Examples/GitHubSearchRepositories/GitHubSearchRepositoriesAPI.swift#L128)  tricky behavior in the [RxExample](https://github.com/ReactiveX/RxSwift/tree/master/RxExample/RxExample)  👍

The use c

[2016-05-08 18:18] thanegill commented on #29
Maybe I'm not undressing something, but doesn't the sequence complete after an uncaught error anyway?

[2016-05-08 18:49] thanegill commented on #22
@fpillet Yes!!

What about this instead?

[code]
Where nil represents non stopping repetition. With a `Uint` so the negative check is on the user and not in the operator.

As far as emitting a tuple we should have an operator that does that but my original thinking was this as a convince operator for readability of repetition; to make it read more like prose. "Every second do this thing" vs. "Do t

[2016-05-08 18:55] thanegill commented on #20
Leaving this here, as @orta had a good idea for dynamically creating a README.

https://rxswift.slack.com/archives/community/p1462643004000682

[2016-05-08 21:58] fpillet commented on #30
I'm not sure about this one. They may be as many pagination scenarios as there are applications using RxSwift -- deriving a generic operator may not be enough. While I think that pagination may be too specific in many cases to be generic, we could maybe explore ways to reverse the action by providing a static function like:

[code]

There is a lot of boilerplate in the operator you're proposing, a

[2016-05-08 22:01] fpillet commented on #20
I started exploring ways of automatically producing the list of operators by the use of `SourceKitten` and the `jq` JSON parser. At this stage I think we could automatically craft a list with documentation -- been learning the jq query syntax, not fully up to speed with it yet

[2016-05-09 11:23] sergdort commented on #30
Yes, sure I agree that, there could be a **lot** of scenarios , and this was my concern :)

But, what I was thinking about that, that generic `E` means  not  final type

- For example some API provides response with current `batch` and `data`. So potential structure could be like this

[code]

so in this case it would be `Observable< UsersPage >` and in the end if some implementation expects `[Use

[2016-05-09 11:40] sergdort commented on #29
Yes, if think about it as no elements will be emitted

But you what do design API behavior, in therms of sequences that never fails this is what `catchErrorJustComplete` operator for

[2016-05-11 21:09] fpillet commented on #20
Not up to speed with automated Readme production. I wrote one manually.

290b7c7

[2016-05-11 21:09] #20 closed

[2016-05-11 21:13] fpillet commented on #22
Ok let's make this tiny syntactic change to the iterations parameter:

[code]

And I'm fine with this. Not a big fan of using optionals for numerical values though, but it makes as much sense here as making it `maxIterations: UInt = 0` default value, I guess :)

[2016-05-11 21:26] icanzilb opened #33 "combineLatest(o1: Observable, o2: Observable)"
### Name and description

`combineLatest(o1, o2)` takes in two ObservableType types of types Observable<T> and Observable<U> and combines them into a single ObservableType<(T, U)>

### Motivation for inclusion

I found myself (few times already) producing a combination of several inputs in my app's UI, e.g. a search bar and a toggle bar item. However I always have few bindings to bind that input t

[2016-05-12 11:30] kzaher commented on #33
I think that @ashfurrow asked me once about this.

I thought that this could create ambiguity problems with Swift compiler because we previously had that API defined little differently, and I thought it would make sense for this to be required because if you are using tuples, that will probably be followed by a `map` operator soon after that to create something out of that tuple.

I guess if you a

[2016-05-13 19:38] sergdort opened #34 "Min & Max"
### Name and description

Min, Max

Propagates `min` or `max` element of the observable sequence based on comparison closure
### Motivation for inclusion

Sometimes it useful to determine `min` or `max` element of the sequence
### Proposed implementation

[code]

[2016-05-13 19:38] sergdort commented on #34
Not sure about naming though :)

[2016-05-13 20:06] icanzilb commented on #34
minLatest() ? :)

[2016-05-13 22:45] fpillet commented on #34
What about :

[code]

[2016-05-14 02:10] icanzilb commented on #34
this is an interesting idea but I don't think the name of the operator reflects what it'd do - I can't see the emitted value being a "summary". How about "function"?

`myObservable.function(.Minimum)`

[2016-05-14 11:10] sergdort commented on #34
Hi, guys.

I also wondering how we would compute `Average ` because it only possible on Numeric types.

So probably will need to introduce a protocol, kind of "DoupleConvertableType"
[code]

[2016-05-14 11:12] sergdort commented on #34
In my mind there is also case for `SummaryType ` - `.Count`

[2016-05-15 09:32] icanzilb commented on #33
Since this has been re-assigned I'm going to close it in this repo, thanks for the feedback everyone

[2016-05-15 09:32] #33 closed

[2016-05-17 23:39] thanegill commented on #22
Maybe two operators? Instead of nil or 0 indicating infinite.

[2016-05-17 23:56] thanegill opened #38 "repeatWhen"
### repeatWhen

Repeats an observable when another observable emits.

[code]
### Motivation for inclusion

https://github.com/ReactiveX/RxSwift/issues/396
### Example of use

Polling where the repetition intervals are not equal.

Could be one of the underlying operators for #15.

[2016-05-20 22:04] orta opened #39 "Documentation via SourceKitten"
So, I've taken a _very quick_ stab at this, as I want to go out for drinks in 10 minutes. So here's the gist. The thing that powers Jazzy _could_ be used to generate READMEs of the public header. Here's a quick POC example I threw together:

`doc.rb`

[code]

What this does is create something that looks like this:

`$ rerun ruby doc.rb`

[code]

It uses SourceKitten to doc the module, then curren

[2016-05-21 10:11] solidcell opened #40 "Someone needs to be the point of contact for the CONDUCT.md"
In the recently added `CONDUCT.md`, no one replaced `[INSERT EMAIL ADDRESS]` with their email address.  I'm not sure who it would/should be, so I made this an issue instead of a pull request.

https://github.com/RxSwiftCommunity/RxSwiftExt/commit/e0f2c4a1050d431c036104d3acf7c3afde21bc25#diff-46b8dc461fb4104140b72e4043aaeefeR58

[2016-05-21 10:16] fpillet commented on #40
Added my email address. Thanks for the heads up!

[2016-05-21 10:16] #40 closed

[2016-05-21 15:23] fpillet commented on #27
Actually the first form is useless as there is already the `retry()` operator which does the same thing. Leaving it as a convenience synonym.

[2016-05-21 17:24] #27 closed

[2016-05-21 17:29] fpillet commented on #38
Sounds like a reasonable proposition! Like it.

[2016-06-07 19:06] dpassage opened #41 "pausable operator"
### Name and description

`pausable` - pauses emission of values.

### Motivation for inclusion

Provides a simple way to filter one observable based on the current state of another. Can be composed of `withLatest` and `filter`, but having a specific operator improves readability.

### Example of use

[code]

[2016-06-12 21:03] fpillet commented on #41
I like the idea

[2016-06-13 04:18] pgherveou commented on #30
Hey guys,
just found out about this post, I recently created this pager pod  https://github.com/pgherveou/rxpager
hopefully it can be useful for someone else!

[2016-06-14 17:21] pgherveou commented on #30
@sergdort I refactored code here https://github.com/pgherveou/rxpager to build something similar from what you suggested, I am happy to send you guys a PR or keep it as it is in a separate pod

[2016-07-02 04:12] solidfox opened #42 "pairwise, nwise operators"
### parwise(), nwise(n:)

Transforms a sequence to return every consecutive pair of emissions.
### Motivation for inclusion

One often need to compare a previous value for changes, this would make that simpler than the rather convoluted combination of .scan, .filter, .map needed to achieve this currently.
### Example of use

[code]

[2016-07-04 07:14] fpillet commented on #42
isn't it what `zip`is for?

[2016-07-06 08:24] solidfox commented on #42
While you can achieve this by zipping a sequence with it's tail: `Observable.zip(sequence.skip(1), sequence)` this still seems too bothersome to me. Seeing as you have to interrupt your chaining to do this and it becomes rather convoluted when you start doing it for more than pairs.

This is how my pairwise looks:

[code]

[2016-07-07 08:46] kciter opened #43 "Count operator"
### Name and description

Count operator

Count the **number of items** emitted by the source Observable and emit only this value
### Motivation for inclusion

RxSwift doesn't have `count` operator now.
If you need the number of Observable, you can write the code as follows.

[code]

In addition, filtering is as below.

[code]

I have difficulty in understanding what the code is about at a glance.

[2016-07-07 10:08] icanzilb commented on #43
Isn't this more of a thing that would go into RxSwfit @kzaher ? http://reactivex.io/documentation/operators/count.html

[2016-07-09 12:54] kzaher commented on #43
Hi guys,

It would probably be best to not include this operator in the main repo for now unless we find some really compelling real world use cases :)

Reasons against adding rarely used convenience operators:
* increase compile time
* increase shipping size
* increase number of operators, so it's harder for beginners to find useful ones
* it's easily derivable from reduce operator (together with

[2016-07-09 12:56] kzaher commented on #41
Hi guys,

maybe it would make sense to make this compatible with https://github.com/Reactive-Extensions/RxJS/search?utf8=%E2%9C%93&q=Pausable.

[2016-07-09 12:59] kzaher commented on #6
Hi guys,

we already have `concat()` in the main repo, and I think we'll add `concatMap` for consistency with `flatMap`.

Just FYI :)

[2016-07-10 06:34] sergdort commented on #43
Hm..
Am I missing something or this operator behaves kinda `filter` because there is `predicate` closure?
If, it is what would be a behavior in this case: `.count { $0 % 2 == 0 }` ?

[2016-07-10 06:39] icanzilb commented on #43
@sergdort just look up the link I posted few comments above

[2016-07-10 07:23] sergdort commented on #43
Haha :) my bad

[2016-07-10 08:58] kciter commented on #43
@kzaher Okay. I understood :)

[2016-07-10 10:40] fpillet commented on #41
Seems to me this is the case (RxJS's `pausable` take a `pauser: Observable<boolean>`argument, which is equivalent to what's being proposed above). Did I misread it?

[2016-07-10 10:41] fpillet commented on #6
Very cool. Putting this one on hold here then, and it's a good thing because an implementation using the main repo's sinks will be way more efficient

[2016-07-10 18:05] kzaher commented on #41
@fpillet I am just aware that RxJS has pausable, haven't used it, but it seems it behaves like you say :)

[2016-07-10 21:52] kzaher commented on #10
Hey @fpillet ,

we'll need to fix throttle in RxSwift repo also :) It now has debounce behavior :(

I've checked out RxJS code

https://github.com/Reactive-Extensions/RxJS/blob/9d6ea94244c2f40a29373f9ed6b12d951d3f2238/src/modular/observable/throttle.js#L17

But it seems their throttle doesn't replay latest element after interval has passed, which is weird. I'll try to find more informations about

[2016-07-13 11:16] tcurdt opened #44 "limitRateOrDistinct"
This is the result of a chat in the Slack channel.

I was looking for a way to turn

`4-4-4-------------4-4-----------4-5` into `4-4-4-5`

which is something in between `distinct` and `debounce`.

Here is the suggested solution (which is untested yet):

[code]

[2016-07-26 20:24] fpillet commented on #15
So thanks for @reloni's contribution, we now have a `retry` implementation that performs the behavior on errors. Now we need a version of `repeat` (that performs the behavior on complete) as well. Any takers? :)

[2016-08-01 11:33] fpillet commented on #29
Implemented by 0bf6365

[2016-08-01 11:33] #29 closed

[2016-08-05 08:20] icanzilb commented on #15
I love the `retry` operator, I think it'd work perfectly ported to pure Swift 👍

[2016-08-11 03:53] lexrus opened #50 "Failed to build with Carthage"
Carthage 0.17.2

[code]

[2016-08-13 09:10] reloni commented on #50
It seems cocoapods are still needed even for carthage.
I had similar problems and I solved them with `pod install` in "demo" folder of a project:
[code]
After that carthage should build RxSwiftExtDemo without errors.

[2016-08-19 14:55] tcurdt commented on #50
Same problem here. `pod install` might be a temporary workaround but otherwise not really acceptable. I guess the question is why the "Demo" is getting build at all.

[2016-08-19 14:56] orta commented on #50
Maybe the demo is being shared in Xcode when it doesn't need to be

[2016-08-19 15:02] tcurdt commented on #50
Interesting - there doesn't seem to be a Xcode project besides the "Demo".

[2016-08-19 17:09] tcurdt commented on #50
here is a fix https://github.com/RxSwiftCommunity/RxSwiftExt/pull/51

[2016-09-01 18:54] dangthaison91 opened #52 "bindErrorTo"
### Name and description

`bindErrorTo` bind error from Observable to an `Observer<ErrorType>`.
This is my current implementation:

[code]
### Motivation for inclusion

When implement MVVM, especial with UIBinding (like RxDataSources), my ViewModel often has `error: PublishSubject<ErrorType>` to handle Error. So when i make some logics, request data from network... i need to inject side effects by

[2016-09-15 06:34] #41 closed

[2016-09-15 06:38] fpillet commented on #52
I can see how this could be a useful addition! I'm not sure about the operator name though, but don't have a better proposition at the moment. Let's go for it! Can you make a PR ?

[2016-09-23 17:43] kzaher commented on #10
We've fixed this for RxSwift 3.0.0-beta.1

[2016-09-28 05:20] MadsBogeskov opened #55 "The podspec references RxSwift 2.6"
The new podspec for release 1.2 requires RxSwift 2.6, but shouldn't it require 3.0.0-beta.1? Since 2.6 is Swift 2.3 support only.

[2016-09-28 05:28] fpillet commented on #55
The dependency currently references "RxSwift 2.4 or later". RxSwiftExt 1.2 is still for Swift 2, while the `swift3` branch is for Swift 3.

[2016-09-28 05:39] MadsBogeskov commented on #55
Arh okay! Thanks.

[2016-09-28 05:39] #55 closed

[2016-10-19 12:03] wassimseif opened #57 "Distinct Requires Parameter"
The `Distinct` operator requires a parameter of type `NSPredicate`. Can't use `distinct` just to check if string fails w match any of the previous events. This is different from the `distinct` operator in other libraries like `RxJava`

[2016-10-19 12:29] fpillet commented on #57
There are several implementations of `distinct` that don't require a parameter: they work when the elements in the sequence are either `Hashable` or `Equatable`. Will work just fine with Strings.

Did you try them?

[2016-10-19 12:33] wassimseif commented on #57
This is my code
[code]

[2016-10-19 12:38] fpillet commented on #57
The compiler can't select the appropriate implementation of `distinct` because your observable's Elements are of type `String?` which is neither `Hashable` nor `Equatable`. You need to at least `map` the observable to `String` type, and you'll be all set.

[2016-10-19 12:38] #57 closed

[2016-10-19 13:15] wassimseif commented on #57
can i unwrap it like this ?
[code]

[2016-10-19 13:16] fpillet commented on #57
yes `.map ( $0! }` will do the job.

[2016-10-27 19:12] dangthaison91 commented on #52
I'm sorry for not replying soon, have to run for deadline in this month. I think i need to upgrade to macOS Siera then setup RxSwift with Playground before making a PR for both Swift 2.2 & 3.0.

Hope i can do next week.

[2016-10-27 20:15] fpillet commented on #52
No hurry. A recent PR I accepted broke the Swift3 project and now I have to start it all over

[2016-10-31 20:01] #15 closed

[2016-11-06 22:38] #50 closed

[2016-11-18 09:16] mosamer commented on #52
I think the current naming is confusing with the existing RxCocoa method `bindTo` so I would suggest either;
- change the method name to reflect that it's doing a side-effect
- change the return type to `Disposable` in order to be a counterpart for RxCocoa implementation.

[2016-11-18 10:35] fpillet commented on #52
Hi @mosamer,

Good idea, do you have a better idea for a name? I understand that `bindErrorTo` is too close to `bindTo`.

What about `doForwardErrors(to:)` ?

[2016-11-18 11:15] mosamer commented on #52
may be drop _do_ as _forward_ is already a verb so it becomes `forwardErrors(to:)`?

[2016-11-18 11:17] mosamer commented on #52
Also, here is a suggested implementation for `bindeErrorTo()`

[code]

[2016-11-18 11:39] dangthaison91 commented on #52
1 vote for @fpillet idea but I think: `forwardErrors(to: )` is better.

@mosamer My first initial idea was using `bindeErrorTo` for better syntax when using `doOnError`, not intended for subscribeError. You can see in above examle.

[2016-11-18 12:30] mosamer commented on #52
@dangthaison91 exactly! hence my suggestion to change the name :)

[2016-11-18 12:32] dangthaison91 commented on #52
Totally agree with `forwardErrorsTo(:)` for Swift 2.2 & `forwardErrors(to:)` for Swift 3.0

[2016-12-04 11:39] RafaelPlantard opened #64 "not() operator accessible by Driver instances"
### Name and description
Enable use of not() operator by Driver instances.

### Motivation for inclusion
It will be more simply invert a Driver<Bool> value:
Instead of:
[code]

Just:
`viewModel.isShowResult.not().drive(tipButton.rx.isHighlighted).addDisposableTo(disposeBag)`

### Example of use
`viewModel.isShowResult.not().drive(tipButton.rx.isHighlighted).addDisposableTo(disposeBag)`

[2016-12-05 18:07] fpillet commented on #64
Good idea! Do you think we should also make the other operators available on Driver?

[2016-12-05 18:33] RafaelPlantard commented on #64
Sure!

[2016-12-09 00:11] AndrewSB opened #65 "Cut a 2.0.1 release for iOS 8 support"

[2016-12-09 06:42] fpillet commented on #65
Uh ?

[2016-12-09 07:06] fpillet commented on #22
The `repeat` operator has been implemented along with `retry` with behavior

[2016-12-09 07:06] #22 closed

[2016-12-10 03:04] AndrewSB commented on #65
Hey @fpillet, I was wondering if a new version of RxSwiftExt could be released that includes https://github.com/RxSwiftCommunity/RxSwiftExt/commit/1e1ce8e6f8bc998ee437b1d5da0a05af21762766  (updates RxSwiftExt to support back to iOS 8),  which was recently merged in

[2017-01-05 18:35] acchou opened #66 "Support for RxSwift 3.1.0"
### Name and description
RxSwift has released 3.1.0, but the podspec for RxSwiftExt specifies ~> 3.0.0.

### Motivation for inclusion
I'd like to use some of the functionality of RxSwift 3.1.0, specifically the improved UIBindingObserver behavior.

### Example of use
Hopefully this should be an easy fix. I'd be happy to add a PR to update the podspec, but I'm less sure what testing is needed befor

[2017-01-05 19:14] acchou opened #67 "Materialize/Dematerialize operators"
### Name and description
The materialize/dematerialize operators are described on the ReactiveX site here: http://reactivex.io/documentation/operators/materialize-dematerialize.html

I propose the following implementation, which uses Event<E> as the type of the materialized stream:

[code]

### Motivation for inclusion

When reviewing the [Kickstarter](https://github.com/kickstarter/ios-oss) ios c

[2017-01-05 19:19] fpillet commented on #67
This is great! I'm a big fan of `materialize` / `dematerialize` and I had been using them in several scenarios with RAC. I had struggled to tried an implementation, but failed.

I'm thrilled to add this to the code base. Please submit a PR with the following:
- the code for the operators themselves (a single file for both should suffices)
- tests
- if possible, add a page to the example playground

[2017-01-06 00:29] acchou commented on #67
I was able to resolve this issue by using:

[code]

and building the regular RxSwiftExt scheme. I'm not sure if I should update the instructions in the playground files? For now I'm going to submit the PR without that change, we can discuss it.

[2017-01-06 07:30] fpillet commented on #67
Hi Andy, thanks for the additional information! I'll take care of updating the playground instructions.

[2017-01-06 07:52] fpillet commented on #67
Thanks a lot for this contribution!

[2017-01-06 07:52] #67 closed

[2017-01-11 02:44] dianambb opened #69 "Retry predicate is inverted when we pass in the error parameter"
### Retry predicate is inverted
In retryWithBehavior.swift, I see this in the retry function:
[code]
Why are we using  !shouldRetry(error) instead of  shouldRetry(error)?
It tends to be non-intuitive to return false for the error conditions I want to retry. Is this intentional or a bug?

[2017-01-11 06:47] reloni commented on #69
Hello.
RetryPredicate is a function that user can provide to decide should we retry or not if specific error occurred. So, if shouldRetry(error) returns true, we don't return Observable.error(error) and do retry.
This is an example from playground:
[code]
So, for conditions that user want to retry this predicate should return true.

[2017-01-11 07:08] reloni commented on #66
It seems all works well with RxSwift 3.1.0.
RxSwiftExt use carthage, and in cartfile version of RxSwift is not specified, it simply `github "ReactiveX/RxSwift"` (not sure that it's ok). I checked all unit tests against RxSwift 3.1.0 and there is no errors. So if you use carthage you can use latest versions of RxSwift and RxSwiftExt right now. Not sure about CocoaPods, don't know how it works:)

[2017-01-11 07:21] acchou commented on #66
Thanks for checking that. I was referring to CocoaPods, which has the following line in the podspec file:

  s.dependency "RxSwift", '~> 3.0.0'

I think by changing that to 3.1.0 the issue would be resolved... I would be happy to submit a pull request, but I'm not sure of the process to build and test properly for CocoaPods...

[2017-01-11 07:24] reloni commented on #66
I'm also not sure what we have to do with Pods, I think we should ask @fpillet for help:)

[2017-01-11 07:54] #69 closed

[2017-01-11 09:32] AYastrebov commented on #66
s.dependency "RxSwift", '~> 3.0'

should resolve this issue

[2017-01-11 09:54] freak4pc commented on #66
Yup, that's true. Submitting a PR for this.

[2017-01-13 12:11] floskel commented on #66
Any progress on this?

[2017-01-13 13:32] freak4pc commented on #66
Just needs a merge ... anyone can help ? @fpillet @ashfurrow

[2017-01-13 14:02] fpillet commented on #66
Just merged, sorry I had missed the email for this issue

[2017-01-13 19:17] dianambb commented on #66
This is still not working. Does this need to be updated in the Cocoapod repo as well? It shows the old dependancy:
https://github.com/CocoaPods/Specs/blob/master/Specs/b/0/1/RxSwiftExt/2.0.0/RxSwiftExt.podspec.json

[2017-01-13 19:18] ashfurrow commented on #66
Yeah, likely needs a new version pushed, I'll try to get to it this afternoon 👍

[2017-01-13 19:20] freak4pc commented on #66
Until the new spec is up you can change your dependncy to point straight to master.

[2017-01-13 20:06] ashfurrow commented on #66
Should be up as 2.2.1, let us know how it goes :smile:

[2017-01-13 21:01] dianambb commented on #66
@ashfurrow it looks like the Spec you push up was for Action and not RxSwiftExt- https://github.com/CocoaPods/Specs/commit/e8454bfc08a7840e8087ef07e2a5d385512fbb7a

The pod spec has not been updated in the repo.

@freak4pc Thanks. I shall do that.

[2017-01-13 21:45] ashfurrow commented on #66
Ahhhh right, thanks 😅

[2017-01-14 00:14] fpillet commented on #66
Too much going on at the same time, Ash! I'm taking care of this for RxSwiftExt 👍

[2017-01-14 00:32] fpillet commented on #66
RxSwiftExt 2.1.0 pushed to CP. Thanks, all!

[2017-01-14 00:32] #66 closed

[2017-01-14 00:32] fpillet commented on #65
Release 2.1.0 pushed to CP.

[2017-01-14 00:32] #65 closed

[2017-01-25 02:17] acchou opened #73 "apply operator"
### Name and description
I'd like to propose a very simple operator, `apply`, which takes a transformation function that takes an Observable and returns an Observable, and simply runs it and returns its value:

[code]

### Motivation for inclusion
It's idiomatic to write new operators as extensions of ObservableType. This makes sense for many custom operators because it preserves the chaining synt

[2017-02-06 02:05] anohren commented on #10
This is exactly what I was missing when trying out Rx.

I'm a little confused though:

- PauseInterval seconds after what? I assume since the last source sample, as opposed to since the last delivered sample (which the other `interval` pertains to)?

- I have a hard time understanding the purpose of `minimumInterval`, and I don't see it used in the example.
- Doesn't "at the latest" imply `maximum

[2017-02-08 08:07] fpillet commented on #73
Interesting proposal! So this operator is semantic sugar to better align in chain of operators ? I like it! Let's go ahead and add it.

[2017-02-08 08:13] fpillet commented on #10
Yes after the last element emitted by the source.

What are you referring to? I only described `interval` and `pauseInterval` parameters. The example (with a search box) would be the typical use case for this operator.

[2017-02-08 08:43] acchou commented on #73
Yes it's just syntactic sugar but I think it encourages code that factors out common operator chains into functions that can be reused and composed together. I've seen this when wrapping 3rd party APIs, sometimes there are many API calls that are similar in their error codes and can share error handling logic, retry logic, etc. I imagine there are other scenarios too.

I've recently also been look

[2017-02-08 13:56] anohren commented on #10
Thank you for replying.

I'm referring to this paragraph which mentions `minimumInterval` as though it were a property:

[2017-02-12 11:31] DivineDominion commented on #6
Just to ping, `concatMap` seems to not have made it: https://github.com/ReactiveX/RxSwift/pull/403

[2017-02-15 23:55] emorydunn opened #75 "Add Mac Framework"
### Name and description
I'm working on a Mac application and would love to be able to use these extensions. RxSwiftExt doesn't use any iOS specific APIs and the all the tests pass on a macOS build.

### Motivation for inclusion
Having a macOS build of the framework would help potentially dozens of Mac developers with handy Rx extensions. The bonus version of this would be to add a target for all

[2017-02-23 07:13] freak4pc commented on #73
I like this a lot !

[2017-02-25 17:39] #73 closed

[2017-03-05 14:40] mkko opened #77 "pausableBuffered"
### Name and description
`pausableBuffered` – pauses emission of values and emits the latest value on resume

### Motivation for inclusion

There already exists a `pausable` operator, but it doesn't store the latest value. This operator already exists in [RxJS](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/pausablebuffered.md) and simply for the sake of conformity

[2017-03-05 14:43] mkko commented on #77
The solution is simple, I think. However, right now I don't have the time to go in to testing and documenting and such:

[code]

[2017-04-03 22:53] dianambb opened #79 "Warnings with Xcode 8.3"
../Pods/RxSwiftExt/Source/cascade.swift:28:21: Static method should not be declared public because its generic requirement uses an internal type
../Pods/RxSwiftExt/Source/cascade.swift:14:12: Type declared here

[2017-04-07 21:56] tzm41 commented on #79
Same problem encountered.

[2017-04-09 18:51] demchenkoalex commented on #79
Fixed in #80

[2017-04-09 18:59] tzm41 commented on #79
Great!

[2017-04-09 21:54] fpillet commented on #79
Not fixed?

[2017-04-09 21:54] dianambb commented on #79
We need an updated release with this change.

[2017-04-09 21:54] fpillet commented on #79
On its way

[2017-04-09 21:54] #79 closed

[2017-04-11 07:07] TheAdamBorek opened #81 "Bring back errors() & elements() for materialized Observable"
### Name and description
Bring back `errors()` & `elements()` for materialized Observable

### Motivation for inclusion
`materialize()` was removed in latest (2.3.0) release of RxSwiftExt, as it's became a part of the core. However, RxSwiftExt used to offer 2 additional operators for materialized Observable which were very handy to use. The usage of them were to filter elements from errors.

I thi

[2017-04-11 08:33] fpillet commented on #81
Hey Adam,

Thanks for taking care of this! It was an oversight, I hadn't noticed that I was actually deleting more than just the `materialize()` and `dematerizalize()` operators that @acchou kindly added.

Send the PR away :)

[2017-04-13 09:14] #81 closed

[2017-04-14 11:25] reshadf commented on #81
This is still not working. The actual code is not inserted in the PR because I think it failed the tests.

[2017-04-14 11:49] TheAdamBorek commented on #81
It's not because of tests ;) - @fpillet bumped the `.podspec` so everything is fine :)

This is probably the reason:
![zrzut ekranu 2017-04-14 13 47 21](https://cloud.githubusercontent.com/assets/3684577/25042526/06136216-2119-11e7-93ad-0fa37bc80f24.png)

The file is in wrong directory 😆 - I'll create a PR in a minute 😃

[2017-04-14 16:33] bidadh opened #85 "Carthage build fail in release 2.4.0"
I'm getting the following error with your latest release(2.4.0) using Carthage.
it was working before so I have to explicitly specify 2.2.0 in my Cartfile which is not my preferred way.

[code]

`xcode 8.3.1`

**Building scheme "RxSwiftExt" in RxSwiftExt.xcworkspace
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace PATH_TO_APP/Carthage/Checkouts/RxSwiftExt/RxSwiftE

[2017-04-14 20:33] fpillet commented on #85
2.4.1 release fixes this;

[2017-04-14 20:33] #85 closed

[2017-04-15 09:29] bidadh commented on #85
Thanks @fpillet

[2017-04-17 17:39] dchohfi commented on #38
Is this going to be merged?

[2017-04-17 22:51] fpillet commented on #38
Will gladly merge - we just need some tests to go with! Thanks for the heads up

[2017-04-27 15:23] DivineDominion commented on #73
@acchou the `call` syntax looks interesting! If the arguments had meaningful labels, I'd love to change my `withLatestFrom`s :)

[2017-04-27 15:24] DivineDominion commented on #75
You need a hand on anything?

[2017-04-28 09:37] DanielAsher opened #86 "Add RxCocoa.framework to Linked Frameworks"
### Name and description
I'm having trouble building `RxSwiftExt` with Carthage. I have included `RxSwiftExt` within my project as a dependent project, but noticed that it does not link to RxCocoa, although there are `import RxCocoa` dependencies within the source code.
### Motivation for inclusion
Explicitly link `RxCocoa` to allow for a build with Carthage

Please let me know if you would like a

[2017-05-04 23:27] danlozano commented on #38
+1 for this feature.

Need it to do polling.

[2017-05-25 05:36] kamitchell opened #89 "elements() doesn't resolve from the framework, only source"
Thanks for these extensions. I'm using them to work with materialized events for calculations that can fail, but shouldn't cancel the sequence.

Xcode 8.3.2
RxSwiftExt 2.4.1

Using

[code]

And then I insert the framework according to instructions.

I'm getting the following error:

[code]

(the next line is ``.elements()``) (file and identifier names have been changed for nondisclosure)

Obviousl

[2017-06-19 15:03] TheAdamBorek opened #92 "Meaningful transformation into Driver trait (JustComplete & IgnoreErrors)"
## Adding  .justComplete & .ignoreError for Driver transformation

### Motivation for inclusion
I think it is a good practice to use `Driver` as an output of every ViewModel instead of the `Observable` type. It means you have to handle what to do with error events. Two most popular ways would be:

1. Provide "default value" with `.asDriver(onErrorJustReturn:<type>)`
2. To "ignore" errors with `.as

[2017-06-19 15:14] TheAdamBorek opened #93 "Adding mapElements operator"
## Adding `mapElements` operator

In every project where I use RxSwift I always end up with adding small helper for mapping elements inside the array in `Observable<[Type]>`. Maybe it's time to include it into one library with common, additional Rx operators ;)

### Motivation for inclusion

My motivation is simple. This... :
[code]

is more readable than... :

[code]

### Example of use
Example c

[2017-06-24 13:32] #77 closed

[2017-06-24 13:32] fpillet commented on #77
Thank you! 👍

[2017-06-24 13:33] fpillet commented on #6
`concatMap` now in the main framework, closing this one.

[2017-06-24 13:33] #6 closed

[2017-06-24 15:07] mkko commented on #77
Awesome work, thank you! Especially @tgyhlsb.

[2017-06-25 10:16] fpillet commented on #86
I looked at Carthage instructions but don't see a way to specify RxCocoa explicitely. Other frameworks like RxGesture which depend on RxCocoa seem to use the same Cartfile than we do here.

Would you mind sending out a PR for this? Thanks

[2017-06-25 10:25] fpillet commented on #75
Just checking since the Podspec allows Mac integration, is there anything else you need ?

[2017-06-25 10:29] fpillet commented on #89
I don't specifically use Carthage, although this ought to work -- it looks like the framework is just not linked into your Xcode project. How did you add it ?

[2017-06-25 16:00] reloni commented on #86
I may be wrong, but this problem should be fixed after adding all necessary frameworks into build phase, as described in carthage docs:
![2017-06-25_18-57-43](https://user-images.githubusercontent.com/16653891/27517624-3f3e7a7e-59d8-11e7-880b-dd46427ab190.png)

[2017-06-25 16:16] reloni commented on #89
@kamitchell I know that it's silly question, but did you add `import RxSwiftExt` into your swift file?

[2017-07-09 15:41] #75 closed

[2017-07-18 17:40] dangthaison91 commented on #52
Hey @fpillet really sorry for pending this so long. But now I think we should handle error in `flatMap` by using `materialize` operator. RxSwiftExt already have 2 extension `elements` and `errors` for materialize, that make handling is easier.  We should close this issue?

**Adam Borek** published a nice blog post about this: http://adamborek.com/how-to-handle-errors-in-rxswift/

[2017-07-27 08:28] noppefoxwolf opened #99 "weak map oprator"
### Name and description

`map(weak:selector:)` is convenience map oprator.

[code]

### Motivation for inclusion

When using self in the map operator, we need to write a `[weak self]` clause every time.
like this,

[code]

### Example of use

[code]

[2017-07-27 08:30] noppefoxwolf commented on #99
Can anyone put on the `proposed Operator` label?
I did not have that permissions.

[2017-07-27 08:33] freak4pc commented on #99
I'm not sure I follow the motivation for this operator.
It sort of couples the UI to the RxSwift layer which doesn't seem correct to have an operator for.

It seems to me the most common use case would be inside a ViewModel mapping the input of a tap to some output Observable that would drive the View.

Your operator seems to be needed when the entire Rx logic lives inside the ViewController which

[2017-07-27 09:05] noppefoxwolf commented on #99
I think your opinion is correct.
When I review this propose, I noticed that it broke the shape of MVVM.
Thank you for your feedback!!
I'll close this issue.

[2017-07-27 09:05] #99 closed

[2017-07-28 15:51] fpillet commented on #42
Fun, I just realized I often need this

[2017-08-01 05:43] #92 closed

[2017-08-15 15:09] freak4pc commented on #42
That's pretty neat :)

[2017-08-16 10:10] fpillet commented on #52
Closing issue as `materialize` should be used instead

[2017-08-16 10:10] #52 closed

[2017-08-26 14:41] #89 closed

[2017-08-26 14:42] #86 closed

[2017-09-12 05:20] klwoon opened #102 "Possible to reset/restart repeatWithBehaviour?"
[code]

The observable will resubscribe after 3sec delay, up to maximum 5 times. Is it possible to reset/restart it before it reaches 5 times?

Thank you.

[2017-09-12 06:51] klwoon commented on #102
I'd like to apologize for opening this issue, I'm using `flatMapLatest` and `repeatWithBehavior` and it turned out to be a bug in my own code where the repeat would not restart.

Closing now and thank you for the great work.

[2017-09-12 06:51] #102 closed

[2017-09-13 09:44] hamdshah opened #103 "Weakify for 'do'"
### Name and description
Providing weak function pointer for `do` Next, Error, etc

### Motivation for inclusion
Currently we have `subscribeError` and `subscribeNext` for weak function reference,
but nothing like that for `do`

### Example of use
currently for `subscribe`
`loginObservable.subscribeNext(weak: self, Login.routeTo)`

For `do` it would be something like this
`loginObservable.doNext(w

[2017-09-13 13:41] fpillet commented on #103
Sure, open to that! Can you send a PR for this along with tests & example Playground page ?

[2017-09-14 12:08] hamdullahshah commented on #103
Sure, will send a request on weekend 👍🏽

[2017-09-14 14:54] fpillet commented on #103
Thank you!

[2017-09-25 10:17] mosamer commented on #93
I may also suggest adding `filterElements` operator

[2017-09-25 15:04] zigdanis opened #106 "Swift 4 .podspec missing Tools/curry.swift` file"
### Name and description
RxSwiftExt.podspec for Swift 4 branch missing `Tools/curry.swift` file in it's `source_files` parameter
### Motivation for inclusion
I'm getting Error in Xcode 9 when adding RxSwiftExt to my Podfile with specified branch.
### Example of use
My Podfile looks like this:
pod 'RxSwiftExt',:git => 'https://github.com/RxSwiftCommunity/RxSwiftExt.git', :branch => 'swift4.0'
After

[2017-09-26 05:30] #106 closed

[2017-09-26 05:30] fpillet commented on #106
Fix merged, thanks!

[2017-10-10 11:09] goa opened #108 "RxSwift 4 & Swift 4 support"

[2017-10-18 07:47] #108 closed

[2017-10-20 18:38] nikita-leonov opened #112 "Is it a time to deprecate-remove" "apply"?"
### Name and description
There is now a `bind(to:)` custom binder in Rx with an implementation:
[code]
apply's implementation is following:
[code]

They do the same. Should RxSwiftExt mark method as deprecated and eventually remove

### Motivation for inclusion

### Example of use

[2017-10-20 18:39] nikita-leonov opened #113 "Is it a time to "deprecate-remove" "apply"?"
There is now a `bind(to:)` custom binder in Rx with an implementation:
[code]
apply's implementation is following:
[code]

They do the same. I assume it is a time to deprecate-remove apply to avoid naming confusion as well as minimize RxSwiftExt footprint. Deprecation-removal can be done in a following style — https://github.com/ReactiveCocoa/ReactiveSwift/blob/master/Sources/Deprecations%2BRemova

[2017-11-06 21:50] Gloix opened #117 "map ambiguous reference in Swift 4"
I have a code that used to compile in Swift 3, but now unfortunately does not compile in Swift 4 due to an ambiguity issue.
Turns out the compiler seems to believe that I want to use the `map(to:)` method, but instead I just want the plain old `map(transform:)` from RxSwift.

This is my code (sort of) simplified:

    let filteredClBeaconStream = beaconsSource  // beaconsSource: Observable<[CLBeac

[2017-11-09 10:45] Sajjon opened #118 "Infinity loop when using `ignoreErrors`"
### Infinity loop caused by `Observable.from(optional: nil)` converted to `Single` and back to `Observable` when returning true from`ignoreErrors`

### Motivation for inclusion
The code below is a **minimum** example, so I understand it is hard to understand why I would like to cast `asSingle().asObservable()` but in my real code I have some APIs returns a Single. This `Single` is created from som

[2017-11-14 22:35] fpillet commented on #118
As explained on the Slack channel, the issue was that `Single` emits an error when no element is emitted before the sequence completes; then `ignoreErrors` does a `retry` and resubscribes, triggering an infinite loop on this empty sequence.

[2017-11-14 22:35] #118 closed

[2017-11-15 01:06] arnauddorgans opened #119 "repeatWithBehavior shouldRepeat arg ?"
I don't really understand the utility of the shouldRepeat predicate without the last element of the observable, how can I tel shouldRepeat = false if the last element of my Observable<Bool> is **false** for exemple ?

**expectation :**
`observable.repeatWithBehavior(.delayed(maxCount: UInt.max, time: 1), shouldRepeat: { $0 })`

`

    extension ObservableType {

    func repeatWithBehavior(_ behav

[2017-11-26 16:20] #112 closed

[2017-11-26 21:49] fpillet commented on #119
Not sure I understand this question. The predicate helps determine whether the sequence should or shouldn't repeat. To help it make its decision, the closure receives the last element (if any) that was emitted by the sequence. You may not use it at all in the decision process: it all depends on your context.

It really is up to you, the framework is just trying to help.

[2017-11-26 21:56] fpillet commented on #117
Sorry for the late reply. Did you find a solution to this? I'm looking into our options but if we don't have any, we'll fallback on the previous `mapTo` naming to avoid conflicts.

[2017-11-26 22:00] Arnoymous commented on #119
@fpillet  yes but in the library there is no arguments in the closure :/ it's only a void
`public typealias RepeatPredicate = () -> Bool`

`public func repeatWithBehavior(_ behavior: RepeatBehavior, scheduler : SchedulerType = MainScheduler.instance, shouldRepeat : RepeatPredicate? = nil) -> Observable<E>`

[2017-11-26 22:02] Arnoymous commented on #119
that is why I would like to change the closure and add the last element if any, because just by calling the RepeatPredicate without any context is not really helpfull

[2017-11-26 22:04] fpillet commented on #119
Ah ok sorry I didn't check back the operator source code first. So in essence, you _want_ to get the last item, whereas we are not currently providing it.

What if you needed the last two items to make a decision? Or the whole sequence?

I guess that we could add a second signature for `repeatWithBehavior` that pass an optional last element, I don't want to change the original signature.

[2017-11-26 22:08] Arnoymous commented on #119
hmm yea I like that ! 👍

[2017-11-26 22:13] freak4pc commented on #117
Maybe just adding mapTo as an alias, but not removing the new naming would be good. I think that's what you planned by "fallback", right?

[2017-11-26 22:15] fpillet commented on #117
I ran tests and we indeed collide. Compiler goes to `map(to:)` when you have imported RxSwiftExt and using `map { some trailing closure }`. Looks like it's painful. If we are creating a conflict with core, my choice will always be to change our side :)

[2017-11-27 21:26] Gloix commented on #117
@fpillet My solution for now has been to use parenthesis to explicitly state the `map` method that I want.

It's a shame Swift has this 'flaw'.

[2017-11-27 22:56] fpillet commented on #117
I agree. So this means that we will roll back to `mapTo` since it is not acceptable that we shadow a core operator. Thanks for the feedback

[2017-12-02 19:25] #117 closed

[2017-12-08 21:24] vzsg commented on #42
I don't think this is less convoluted than a `scan`.

How about this?

[code]

[2017-12-09 11:18] mosamer opened #122 "UIScrollView `reachedBottom`"
### Name and description
`UIScrollView` reactive extension for reaching bottom while scrolling.

### Motivation for inclusion
While `UIScrollView` already contains reactive extensions for `contentOffset` and scrolling to top, there is no such extension for reaching bottom of the scrollable content. This is commonly used to trigger pagination requests.

### Example of use
[code]

[2017-12-09 11:20] freak4pc commented on #122
I agree this would be a great addition.
Here's a simple implementation from Kruno on RxFeedback that we might want to use:

https://github.com/NoTests/RxFeedback.swift/blob/master/Examples/GithubPaginatedSearch.swift#L192

I would just consider two things here:
1. the naming.
2. does RxSwiftExt even have any support for "UI"-level extensions at this point?

[2017-12-09 12:02] fpillet commented on #42
@vzsg very nice implementation! I love the `nwise` implementation! Do you want to push a PR with tests, or should I go ahead and add it ?

[2017-12-09 17:18] vzsg commented on #42
I'll try. 👍

[2017-12-10 22:51] #42 closed

[2017-12-11 11:00] freak4pc opened #124 "Introducing UIKit & Cocoa extensions in RxSwitExt (e.g. RxCocoaExt)"
There has been increasing activity and demand for a place where UI-Related components and extensions could live in the RxSwiftCommunity eco-system.

This would help:
1. Find place for things that are needed by the community but would bloat the main repo (e.g. implementation details not tied to a delegate, etc.)
2. Get more community involvement, as there is _so many_ options for new extensions to

[2017-12-11 14:50] arnauddorgans opened #125 "huge resource count leak on repeatWithBehavior and retryWithBehavior"
I have found a huge leak on resource count when using repeatWithBehavior/retryWithBehavior
you can find out with a timer and **RxSwift.Resources.total**

### How to

1. use *TRACE_RESOURCES* on RxSwift
2. add this on your AppDelegate:
[code]
3. call it on didFinishLaunchingWithOptions
[code]
4. on a viewcontroller or everywhere:
[code]

5. just look at your logs

In like 15seconds i had this resul

[2017-12-11 14:52] freak4pc commented on #125
Your test is wrong - You're using an Observable in your AppDelegate that makes its own resources every second, so of course the count goes up uncontrollably.

Remove the code from AppDelegate, instead put a print right before and a print `onDisposed` and then see what you get.

[2017-12-11 14:54] Arnoymous commented on #125
@freak4pc nop, i have make a pull request and with it there is no more leak

[2017-12-11 14:58] bobgodwinx commented on #124
@freak4pc  I just gave a first reading to this issue and `IMHO` I think a new library will be better because we are just going to be extending what is missing from `RxCocoa` so there is no need mixing thing with `RxSwiftExt` so I would go with first.

Secondly we must apply a strict rule that this is `UI-related` stuffs which are missing from `RxCocoa`

Swiftlint is welcomed I really like it so it

[2017-12-11 14:59] Arnoymous commented on #125
@freak4pc a simple test to find there is a bug:

juste add this on a viewcontroller or everywhere:

[code]

just wait like 20seconds and **boom** app crash

[2017-12-11 22:47] fpillet commented on #124
I don't mind either way, I'm easy. I think most users don't mind either, there's not enough volume of code in the single RxSwiftExt repo to qualify as "bloat" -- a separate repo would mean one more pod, and one more framework in applications, which adds to the startup time.

Aside from this, a separate repo could make discovery easier for users (but then maybe it's just a matter of building good d

[2017-12-12 09:09] mosamer commented on #124
Thanks @freak4pc for the detailed issue, there's lot to tackle here. If you don't mind, I'd like to break this down into 3 parts with potential to generalize a couple of them to the overall *RXSwiftCommunity* organization.

I think this is a very good seed for an organization-wide *Vision* or *Manifest* document. I believe it will be useful to have such a document describing the vision and motivat

[2017-12-12 11:09] freak4pc commented on #124
Thanks everyone for all your opinions :)

I'll try to address everything
I'll start at the end -
My current instinct is going with **two podspecs in the same Repo**.

The other two approaches are two prone to issues:
1. Separate repo - All points @mosamer made are pretty much my thoughts. There's no really good reason to create that sort of separation and since many of these components might share

[2017-12-12 11:47] freak4pc opened #127 "RxSwiftExt & RxCocoaExt Action Checklist"
This continues discussion from #124, but decided it would be better to start a clean one since this is already "Calls to Action".

I'm assigning myself as I'd like to do many of the things here myself, but would love help on things related to Carthage and SPM since that's not my expertise :)

Here's the current checklist I have in mind.
Please feel free to comment and help me perfect this before I

[2017-12-12 11:47] freak4pc commented on #127
cc/ @fpillet @mosamer @bobgodwinx

[2017-12-12 11:48] freak4pc commented on #124
Continuing Action Items discussion at #127

[2017-12-12 11:48] #124 closed

[2017-12-12 13:23] mosamer commented on #127
In such a case, will it make sense to move `RxTestExt` here as well? or would you prefer to wait a little bit on that?

[2017-12-12 13:23] freak4pc commented on #127
Let's wait a bit and start with this first :)
There's a lot of work to be done and this is still WIP

[2017-12-12 13:27] mosamer commented on #127
I get it, just some of the items in the list may not be applicable there (Playgrounds for instance) so just to keep that in mind if the plan for this is to happen eventually.

Also, feel free to let me know if you need help with any item in this list, will be glad to help ;)

[2017-12-12 13:30] freak4pc commented on #127
Opinions on Folder Structure and general feedback would be helpful :)
When reaching the end of the list probably ensuring SPM and Carthage behave would help as well 😄

[2017-12-12 13:46] mosamer commented on #127
- I am not sure about subfolders inside `RxSwift` & `RxCocoa`
- I'd keep `Common` folder for common/shared implementation code
- I'd add `Utils` -or `Helpers`- folder for helper functions shared (currently `Tools`)

[2017-12-12 14:01] bobgodwinx commented on #127
After taking a look at both the current `RxSwiftExt` repo I did also checked how `RxSwift` repo which contains the `RxCocoa` relates. I still suggest we go for option one. A new repository because it will actually simplify things. And if we need operators from the `RxSwiftExt` we can always add it as a dependency just like `RxSwift` + `RxCocoa`.  If you take a look at the `RxSwift` repository the

[2017-12-12 14:08] freak4pc commented on #127
I'm still (personally) don't find a case for separating the repos since they are so couple. I understand your argument regarding ReactiveX single-repo, but I think it does make sense in that context; everything is found in one place, and everything can be maintained by a dedicated group of people without jumping between projects that share so much in common.

[2017-12-12 17:40] ashfurrow commented on #127
Cool, all sounds good to me 👍 I like the subspecs idea but Carthage users will miss out, that's okay. I also like keeping things in one repo – just from experience I've found it easier. But 🤷‍♂️

[2017-12-12 21:33] fpillet commented on #127
Hrmm Carthage users. Good point @ashfurrow, so we need to make separate podspecs instead of subspecs, otherwise we'll be caught in endless support issues with Carthage users, right?

[2017-12-12 21:58] freak4pc commented on #127
My original thought was two separate podspecs in general, for Carthage reasons and other reasons that might not make this the best option

[2017-12-13 15:03] reloni commented on #127
I'm not a cocoapods user and I don't actually know how this magic work, but carthage simply builds all schemes inside project/workspace, so maybe if we create proper project/workspace it would work regardless podspecs/subspecs.

[2017-12-13 15:09] ashfurrow commented on #127
Actually the issue with Carthage isn't that bad; Carthage would continue to behave as it does today, but CocoaPods users would be able to specify the subset of the functionality they want. Carthage doesn't have the concept of subspecs, so they'd continue to build all of the files into the framework. It only becomes an issue if one of the subspecs has a strange dependency because then Carthage woul

[2017-12-13 17:14] bobgodwinx commented on #127
@ashfurrow

Look I am a fan of `CocoaPods` but I would admit that this would be unfair towards `Carthage` users. The best solution is to use another repository in order to satisfy both type of users.
Having said that, I think `Carthage` users will always find a way to solve this. It looks exactly the same thing repeating it's self in this [issue](https://github.com/Carthage/Carthage/issues/1227)

[2017-12-13 17:16] freak4pc commented on #127
A separate repo is the worst of all options IMO.
It doesn’t solve anything two separate podspecs in the same repo don’t solve.

[2017-12-13 17:19] bobgodwinx commented on #127
@freak4pc

How really does a new repo focus on providing the above mentioned solution makes it a worse solution? Am I missing something?

[2017-12-13 17:48] ashfurrow commented on #127
I have to disagree about being unfair towards Carthage users – supporting the full features of CocoaPods that don't exist in Carthage doesn't negatively impact Carthage users, it's a purely additive change that helps CocoaPods users.

While multiple repos are a good solution to this problem theoretically, they introduce a tonne of unexpected overhead for maintainers. I think we should weigh the co

[2017-12-13 18:28] bobgodwinx commented on #127
@ashfurrow I get what you are saying. All I am trying to communicate is that there is no perfect solution for `Carthage` users. I've tried locally all possible scenarios, even with `Submodules` and it didn't fix it. They have to use `Carfile.ignore` that's the only viable solution for them. Secondly it's difficult to change a dependency manager when you're in a team. This was my thoughts and that'

[2017-12-13 18:45] freak4pc commented on #127
We're considering Carthage anyways - But splitting to two separate repo just to facilitate to the disadvantages of a single Dependency Manager isn't a good enough reason IMO.

In any other case consolidating feels like the best though.

First and foremost as @ashfurrow said

It has already been very hard to get people involved. I think a singular project that would be the beef of extensions for th

[2017-12-13 19:16] ashfurrow commented on #127
@bobgodwinx I applaud your consideration for your peers, that's awesome. On Moya, we try to make sure that if something _does_ break for Carthage users, we automate a check to prevent it from happening again:

https://github.com/Moya/Moya/blob/268b4c66b14efb7ee2aafe4cf32d435c52e9f43d/Dangerfile#L21-L28

I think applying similar logic, especially through [Peril](https://github.com/danger/peril), wo

[2017-12-25 17:03] freak4pc opened #130 "Folder structure for RxCocoaExt addition"
### Why?

This ticket continues discussion on one of the point form #127.

Would appreciate some opinions on what you guys would consider optimal Folder Structure and file-naming for RxSwift and RxCocoa related additions, at your spare time :)

Copying from the "Big issue":

    - Operators
    - Common (or Core or Observables or something to describe non-operators)

    - Operators
    - ControlE

[2017-12-25 17:13] freak4pc opened #131 "Decide on File naming for RxCocoaExt(s) and RxSwiftExt(s)"
### Description

This ticket continues discussion on one of the point form #127.

Would appreciate some opinions on what you guys would consider proper naming for files.

In an optimal world we could keep the same naming across RxSwift and RxCocoa components.

e.g.

- RxSwift
    - distinct.swift
- RxCocoa
    - distinct.swift

But `swiftc` won't compile two filenames of the same name, even if the

[2017-12-26 10:51] fpillet commented on #131
IMHO, the `distinct+RxCocoa.swift` form is the tried and true way of naming category files in Obj-C and has worked well for years. We should use it wherever the file name overlaps an existing one from the Swift folder (considered the baseline for file names).

Regarding tests, the `Tests.swift` extension look good to me as well.

Casing rules are 👍

[2017-12-26 11:59] fpillet commented on #130
Separating the `Operators` from `Common` might not work for all cases. Some operators also have a static variant (like the `and`, `cascade`,  operator which has two static methods  + one instance method for `ObservableType`).

If we were to move each to separate folders, I'm not sure it would help making a mental image of the various functionalities exposed by RxSwiftExt.

It seems difficult to de

[2017-12-26 12:01] freak4pc commented on #131
In general I agree. The problem is we aren't naming the RxSwift counterparts as `distinct+RxSwift` - meaning RxSwift is "main" and RxCocoa is secondary in some sort? Not sure if that's a problem but wanted to bring it out there.

[2017-12-26 12:16] freak4pc commented on #130
@fpillet Good thoughts, thanks :)

My thought of separating was mainly in favor of RxCocoaExt - where operators and UI-related additions are entirely different and I feel like those  shouldn't live in a single folder

For RxSwift I sort of agree most things could live in a single folder - Even though, extensions that have static methods are still operators; in RxSwift there isn't really much of a

[2017-12-26 12:16] fpillet commented on #131
This is actually my idea. You can't have RxCocoa without RxSwift anyway, so it doesn't make real sense (other than purely aesthetic)  to force naming  `distinct+RxSwift.swift`.

Another idea I have, since RxCocoa is all about UI, would be to name `distinct+UI.swift`. What do you think?

[2017-12-26 12:17] freak4pc commented on #131
Actually that's a fair point about RxSwift being the "base".

I think since `distinct` isn't applied specifically to UI components, but just to these RxCocoa additions, we can keep the current `+RxCocoa.swift` naming. Sounds good?

[2017-12-26 12:18] fpillet commented on #130
Then why not:
- RxSwift
- RxCocoa
  - Common
  - UIKit
  - AppKit

This was we can put stuff like ControlEvents in `Common` and platform-specific ones in their respective folders.

[2017-12-26 12:19] fpillet commented on #131
Sure, sounds good!

[2017-12-26 12:21] freak4pc commented on #130
That's cool actually!
The only problem with this is that components that have a

`typealias OSControl = UIButton` vs `typealias OSControl = NSButton` variation would have to be split out in the two folders and I'm not entirely sure that's possible

Or those would be in "Common" ? Because that would mean we have Operators and Multi-platform UI living in a single folder, which beats the reasoning of

[2017-12-26 12:23] #131 closed

[2017-12-26 12:49] freak4pc commented on #113
@nikita-leonov They aren't entirely the same

1. There is a contextual different - binding to a "binder" isn't a transformation
2. bind lets you transform to any type. Apply enforces a transformation *from* `Observable<T>` *to* `Observable<T>`

[code]

[2017-12-28 06:28] mosamer commented on #131
@freak4pc Sorry for late reply, but I think it is possible to have same file names on RxSwiftExt/RxCocoaExt (which is optimal IMO) once they are separated into two projects (as per the existing plan). `swift` error is happening when the 2 files belong to the same target. Here is a [link](https://www.dropbox.com/sh/2a17yxm62s7obz2/AACmtH_oeKvmKW1_s4noG02Va?dl=0) to a sample workspace I believe we s

[2017-12-28 11:18] freak4pc commented on #131
Thanks @mosamer !
As we discussed privately that's an interesting point but we actually just discussed different Podspecs or Subsepcs. Neither necessarily mean we need separate projects.

Besides solving the "duplicate filenames" thing I'm worried this will just add more overhead to maintain several Xcodeprojs. What do you guys think? @fpillet

Also not sure, we might actually be forced to do this

[2017-12-28 15:30] bobgodwinx commented on #131
Happy holidays to you all. @freak4pc I think there is no need to have duplicate files or filename. For any operator that is used in both projects I would prefer going for a `shared` structure. For example `distinct` can go into the `shared` directory if it is used by both, while every other file should be strictly project related and should stay in project specific directory. So we could have a  s

[2017-12-28 15:30] freak4pc commented on #131
@bobgodwinx We can't go with that approach since that would force you to install RxSwiftExt and RxCocoaExt together, without any granularity. We want separate file for the separate projects

[2017-12-28 15:31] fpillet commented on #131
Also, it's better to keep file names distinct to shield against debugging issues with similar file names in the same framework. May confuse poor LLDB

[2017-12-28 15:41] bobgodwinx commented on #131
@fpillet @freak4pc this structure is actually allowing you to install `RxSwiftExt` or `RxCocaExt` I will make an example on different `Repo` to show how it looks.

[2017-12-28 15:42] freak4pc commented on #131
Sure, let me see what you're thinking of :) thanks @bobgodwinx

[2018-01-08 04:57] lucas34 opened #133 "Use segmenting versioning in Cartfile"
Hi,

It would be better if the Cartfile is using segmenting versioning.
I was quite surprise when I used this in my Cartfile
[code]
And it works beside the fact RxSwiftExt Cartfile points to `4.0.0`
Full explanation: https://github.com/Carthage/Carthage/issues/2309

To follow the Cocoapods behaviour, I suggest to change the Cartfile to
[code]
Otherwise there will be a discrepancy when using the li

[2018-01-12 04:36] #133 closed

[2018-02-21 09:44] mcontin commented on #10
What happened to this operator? It could come in handy for buttons if I understood correctly how it works.

[2018-02-22 08:41] freak4pc commented on #113
Closing due to not response from OP

[2018-02-22 08:41] #113 closed

[2018-02-22 08:45] freak4pc opened #142 "Add danger-swiftlint (with Peril)"
Adding this here and self-assigning so I don't forget:

We have Swiftlint running successfully with no issues on CI, the problem is - it doesn't actually do anything with warnings. Only full failures will cause the CI to fail.

Since we already have Peril running cross-org, we can just add a Dangerfile with danger-swiftlint to comment everything needed on the PR itself.

[2018-02-23 08:30] fpillet commented on #10
I think nobody took the time to implement it, that's what happened :) but good reminder that we should go through the list and process the early ideas.

[2018-03-07 19:03] #64 closed

[2018-03-08 13:36] vincent-pradeilles opened #145 "add average() operator"
### Name and description

Include an operator that returns the running average for a sequence of `Numeric` values.

### Motivation for inclusion

Computing a running average can be tricky ([https://en.wikipedia.org/wiki/Moving_average#Cumulative_moving_average](https://en.wikipedia.org/wiki/Moving_average#Cumulative_moving_average)), so having it nicely encapsulated in a ready-to-use operator can

[2018-03-08 14:24] fpillet commented on #34
I think the best name for this operator would be `compute`. Makes total sense:

[code]

Note that te idea would be that every time a new value comes in, the computation is updated and the latest computed value emitted.

[2018-03-08 15:58] freak4pc commented on #34
@fpillet This wouldn't be the behavior of Rx core - which I'm fine with but I want to make sure you're aware of it. I think the behavior you specific here (e.g. on every emission) is more useful but I'm not sure if trying to smoosh them all into one operator is worthwhile.

I understand _why_ but I'm worried about the discoverability concern here, usually an operator does one thing, and here you h

[2018-03-08 16:10] freak4pc commented on #145
There's an ongoing discussion in #34 actually, would love to get your opinions there @vincent-pradeilles !

[2018-03-08 16:12] vincent-pradeilles commented on #145
Yes, @fpillet told me about a little bit earlier. So I'm going to close this issue, as it's a duplicate of the other one.

[2018-03-08 16:12] freak4pc commented on #145
PS I don't think cumulative average is that hard

`sum(stream) / count(stream)` usually

[2018-03-08 16:12] freak4pc commented on #145
Sounds good - Let's discuss there @vincent-pradeilles

[2018-03-08 16:12] #145 closed

[2018-03-08 16:14] vincent-pradeilles commented on #145
@freak4pc if you compute it this way, then your computation will O(n), for every `.next` event, which can be problematic for large sequences.

[2018-03-08 16:15] fpillet commented on #34
@freak4pc what about `updatedSummary(.minimum)` ?

[2018-03-08 16:18] freak4pc commented on #34
Even more confusing IMO

I'm not arguing with the compute name - I'm arguing with putting everything in a single operator...
I'm not sure it's good or bad TBH - I think people are used to looking for the operator name from the docs, which might be confusing.

On the other hand if it uses the same name but a different implementation (e.g. not only on completion, but accumulative), that might also b

[2018-03-08 16:18] freak4pc commented on #145
That's not necessarily true, you just need to accumulate the sum with the count of emissions as you go, which should be a O(1) IIRC.

[2018-03-08 16:19] fpillet commented on #34
I see what you mean. Since it's not the same computation with different options but different computation, it makes sense to use different operator names.

I was trying to synthesize a set of behavior but maybe it's a better choice to be explicit then.

[2018-03-08 16:25] freak4pc commented on #34
So, we can name them average, min, and max - the only risk here is that if Krunoslav ever agrees to add the default Rx implementations - we would have a conflict. We can deal with this later to be honest.

Also, we might want to support both behaviors

`Observable.min(cumulative: Bool = true)`

Setting to false will have the "Rx-standard" behavior (e.g. compute on completion)

What do you think ?

[2018-03-27 00:48] twittemb opened #148 "UIViewPropertyAnimator extension"
Hi

### Name and description: UIViewPropertyAnimator extension
The purpose of this extension is to wrap a UIViewPropertyAnimator into a Completable to be able to chain animations very easily and in a RxSwift way: see https://medium.com/@thibault.wittemberg/elegantly-chaining-uiviewpropertyanimators-88409c64f845

### Motivation for inclusion:
I can't find UIViewPropertyAnimator extension anywhere,

[2018-03-28 14:57] twittemb commented on #148
Does someone have an opinion on that ? perhaps RxSwiftExt is not the appropriate repo for that kind of extension ... I have no problem with that, I just wanted to know if there is a good repo for this kind of feature 😀 (or perhaps this feature is to basic to be considered as a good add-on ... I'm ready to hear that too👌)

thanks for your help.

[2018-03-28 14:59] freak4pc commented on #148
Hey :) As discussed on slack I think this is a great addition.
Additions to this repo take time unfortunately as It's mainly me for the past few weeks - other members are sometimes busier so review times may vary :)

I think this would fit very well here and I would also like adding the operators potentially :)

[2018-03-28 15:00] freak4pc commented on #148
Regarding location it would probably be a `UIViewPropertyAnimator+Rx.swift` file in RxCocoa much like this one: https://github.com/RxSwiftCommunity/RxSwiftExt/blob/master/Source/RxSwift/ObservableType%2BWeak.swift

[2018-03-28 15:03] twittemb commented on #148
Hi @freak4pc

Thanks for your response. Good to hear from you 👍

I will do a PR ASAP with these recommendations.

I know how challenging can be an OpenSource project ... RxFlow takes me a LOT of time ! hard to be everywhere 😀

Thanks.

[2018-03-28 15:04] freak4pc commented on #148
P.S We might want to make a `Components` folder inside. There was some discussion over here but not enough opinions. You can just put it in the RxCocoa folder ATM:

https://github.com/RxSwiftCommunity/RxSwiftExt/issues/130

[2018-03-29 09:52] freak4pc opened #150 "[Vote] Naming for operator to provide a safe, unretained reference to object"
There has been a lot of discussion, to the point where the "blocker" is the naming :) I wouldn't want to waste more time on this so am resorting to a poll-style option.

To detailed information about this operator check out the PR: #149

[![](https://api.gh-polls.com/poll/01C9RJS08ZARR91EEAH936YA7W/withUnowned(self))](https://api.gh-polls.com/poll/01C9RJS08ZARR91EEAH936YA7W/withUnowned(self)/vote)

[2018-03-29 09:53] freak4pc commented on #150
@jegnux @groue @vincent-pradeilles @RxSwiftCommunity/contributors

[2018-03-29 09:56] freak4pc commented on #150
Example usage would be

[code]

[2018-03-29 13:39] freak4pc commented on #150
I think we have a definite majority for `withUnretained(_obj:resultsSelector:)` 👍 🎉

Thanks all! 💯 🥇

[2018-03-29 13:39] #150 closed

[2018-03-30 20:56] twittemb commented on #148
Hi

The PR is here: https://github.com/RxSwiftCommunity/RxSwiftExt/pull/151

Thanks guys.

[2018-03-31 22:06] twittemb commented on #148
I close this issue because a PR has been made ... this is always nice to have less issues in a repo 😀👍

[2018-03-31 22:06] #148 closed

[2018-04-04 13:22] iStefo opened #152 "unwarp(to:) Operator"
### Name and description
I propose the inclusion of an `unwrap(to:)` operator which maps `nil` values to the provided "default" value.

### Motivation for inclusion
This operator is handy when using KVO with RxSwift, as it always produces an observable of optional values.
Although it is pretty trivial to implement, the operator provides better readability than just using `map` directly because its

[2018-04-04 13:37] freak4pc commented on #152
`.map { $0 ?? false }` is just two characters longer then using `unwrap(to: false)` and is also more explicit IMO.

I understand your specific motivation but, for me - specifically, this operator doesn't provide enough added value to be part of the library. This is just my personal opinion and of course doesn't prevent adding this operator :)

If we do decide to implement it (e.g. if other people

[2018-04-04 14:37] jdisho commented on #152
I agree with @freak4pc in this argument, ` .map { $0 ?? ... } ` is more explicit and I don't see any problem writing it often. 🤔
IMO, wrapping an "one line" operator with another one will make the code more confusing.

[2018-04-04 14:41] jdisho commented on #93
What do you think about this @freak4pc ?

[2018-04-04 15:00] freak4pc commented on #93
Totally missed this one, thanks for the bump @jdisho. I think this could be a nice addition potentially, just want to make sure I got you correctly.

Are you looking for something like this @TheAdamBorek :

[code]

Usage:
[code]

Output:
`-> Event next([#1, #2, #3, #4])`

[2018-04-04 15:27] jdisho commented on #93
Why calling it `mapMany` @freak4pc? I think `mapElements` is more clear.

[2018-04-04 15:33] freak4pc commented on #93
I'm personally not a fan of `mapElements`, since the original operator isn't called `MapElement` in singular...

When you map emissions coming from an observable stream you are also `mapping elements` so I don't think this creates a proper "plural" distinction (e.g. this works only on `Collection` types)

We can put it up for a vote of names like we did in #150

[2018-04-16 07:47] TheAdamBorek commented on #93
To be honest, I also like `mapMany` more than `mapElementes` (since Observable already has elements) ;)

However, the PR is quite old. I assume I would have to update it, right?

[2018-04-28 09:52] #152 closed

[2018-04-30 07:54] jegnux commented on #152
@iStefo you should take a look at https://github.com/RxSwiftCommunity/RxOptional
It already includes a similar operator named `replaceNilWith(_:)`.

[2018-05-01 09:49] iStefo commented on #152
@jegnux thanks, good tip

[2018-05-04 06:33] TheAdamBorek commented on #93
@jdisho sure, go ahead ;

[2018-05-06 15:31] freak4pc commented on #122
Hey @mosamer - This is in my to-do list to add in RxSwiftExt fairly soon. Closing this for now :)

[2018-05-06 15:35] freak4pc commented on #125
Let's continue discussion on this in your PR if it's still relevant #126

[2018-05-06 15:35] #125 closed

[2018-05-06 15:36] freak4pc commented on #39
This is very cool, but probably irrelevant at this point.
I think we should definitely see if there's a good way to automate documentation instead of manually writing the README etc every time but not sure on priorities yet.

[2018-05-06 15:36] #39 closed

[2018-05-06 15:36] freak4pc commented on #93
Let's continue discussion over at #154 :)

[2018-05-06 15:36] #93 closed

[2018-05-06 15:37] freak4pc commented on #103
I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

[2018-05-06 15:37] #103 closed

[2018-05-06 15:37] freak4pc commented on #43
I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

P.S In general I kinda like this operator. Could be useful.

[2018-05-06 15:37] #43 closed

[2018-05-06 15:38] freak4pc commented on #38
I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

[2018-05-06 15:38] #38 closed

[2018-05-06 15:38] freak4pc commented on #34
I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

[2018-05-06 15:38] #34 closed

[2018-05-06 15:38] freak4pc commented on #30
I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

[2018-05-06 15:38] #30 closed

[2018-05-06 15:39] freak4pc commented on #10
I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

[2018-05-06 15:39] #10 closed

[2018-05-06 15:39] freak4pc commented on #44
I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

[2018-05-06 15:39] #44 closed

[2018-05-06 15:39] freak4pc commented on #119
Hey @arnauddorgans  - I'm closing this for now due to inactivity - If you have any more comments on this subject, feel free to comment or ping me directly and I'll re-open it :) Thanks !

[2018-05-06 15:39] #119 closed

[2018-06-13 15:58] sgtsquiggs opened #158 "bufferUntil operator"
### Name and description

`bufferUntil` extension on `ObservableType`. Works like `skipUntil`, except buffering events instead of ignoring.

### Motivation for inclusion

For situations where you have a live stream that you must observe, but need to delay acting upon until an outside event occurs.

### Example of use

[code]

### Rough implementation

[code]

[2018-06-25 15:35] tigran-stdev opened #160 "3.3.0 version is not available"
New 3.3.0 release version is not available in Cocoapods.

<img width="371" alt="screen shot 2018-06-25 at 19 34 02" src="https://user-images.githubusercontent.com/36221236/41860103-cecf5686-78ae-11e8-960e-49afd258c940.png">
<img width="91" alt="screen shot 2018-06-25 at 19 33 50" src="https://user-images.githubusercontent.com/36221236/41860113-d342a36c-78ae-11e8-97a5-8bdf0d57227e.png">

[2018-06-28 07:50] bobgodwinx commented on #160
@freak4pc @fpillet can slice a version for `CocoaPods 3.3.0`

[2018-06-28 07:53] freak4pc commented on #160
Hey, thanks - you just need to push a new pod spec to trunk. The release is already out.

[2018-07-02 10:12] DanielAsher opened #161 "Consider supporting unwrap in Driver, Signal etc"
### Name and description
Consider supporting unwrap in Driver, Signal and related traits
### Motivation for inclusion
I use unwrap in many places and often with Driver and Signal
### Example of use
[code]
Implementations should be trivial e.g.
[code]
If this is accepted I can create a PR

[2018-07-05 08:35] snowtema opened #162 "Pause Observable"
### Name and description
I have a `timer` Observable and I need to pause it with one condition: when it'll resume it'll continue to emit elements from an element, which be paused with **initial delay**.

### Example of use
My code:
[code]

[2018-07-08 09:01] freak4pc commented on #161
@DanielAsher This seems fine to me. We should target all `SharedSequence`s so it applies to `Signal` as well

[2018-07-08 09:44] freak4pc commented on #162
@snowtema Did you look into [https://github.com/RxSwiftCommunity/RxSwiftExt#pausablebuffered](pausableBuffered) ?

[2018-07-08 09:53] freak4pc commented on #158
Seems a bit of a niche use-case which I'm not sure is 100% fitting for this repo.
If I could get some more people's interest in this operator, It'd would be helpful to get a grasp for how needed it is.

I'm also a bit bothered by the fact it uses 2 other RxSwiftExt operators (mapTo and pausableBuffered), as usually operators don't use other operators inside the repo. This isn't necessarily a huge

[2018-07-08 09:53] freak4pc commented on #122
@mosamer Are you still interested in going after this implementation? :)

[2018-07-08 09:55] freak4pc commented on #160
3.3.0 was pushed. Thanks for reporting :)

[2018-07-08 09:55] #160 closed

[2018-07-08 18:22] snowtema commented on #162
@freak4pc Yes, I used both forms but it also didn't work for my case.
I have a timer observable and when I clicked on the button to pause observable it pausing, but when I clicked one more time on the button for continue, observable emits all skipped elements **in one moment** and continue to emit next elements in the normal case. In detail, I paused observable when it was on 15 sec, waiting 10 se

[2018-07-08 20:11] sgtsquiggs commented on #158
1. I agree it may be a very limited use case. I found it very useful for myself and wanted to share in case it became more useful for others.

2. Sure! pausableBuffered is overkill for this use and mapTo is easily replaced.

3. My example use case is a UIPickerView in place of the keyboard. I have a UITextField that is observing the UIPickerView's value, but I do not want the UITextField to observ

[2018-07-08 20:20] sgtsquiggs opened #163 "Bind observable to collection of observers"
### Name and description

An extension on ObservableType to allow `.bind(to:)` with a collection of observers, and an extension on Collection (where Iterator.Element == Disposable) to allow `.disposed(by:)` with a collection of Disposables.

### Motivation for inclusion

Useful when you have a single observable binding to a lot of observers. A big use case is when implementing forms and having a s

[2018-07-08 22:16] freak4pc commented on #162
Yup, that's how pausableBuffered works.

The problem with an operator like you're suggesting is that it "lies" about when events are emitted. It means that the stream isn't only paused but is also actually delaying additional emitted items further down the stream.

I'm not sure how of a popular use case this would be in order to add an operator here, and I feel like we need more community involvem

[2018-07-09 03:15] wassimseif opened #164 "And Observables together"
### Using `.and()` for form validation

###  Using this operator would remove a lot of the biolerplate code needed ( from what I know)

### Example of use
I'm using Rx for form validation in the login screen. the code now looks something similar to this.

[code]
Now If I want to bind these 2 observables to a button, I would `.zip` them together like this

[code]

I honestly think that the for loop

[2018-07-09 07:09] freak4pc commented on #164
@wassimseif You should use

[code]

[2018-07-09 07:09] #164 closed

[2018-07-09 07:32] freak4pc commented on #158
@sgtsquiggs Yeah in my view this is a bit too niche of a use-case to be a community-used operator. If you think otherwise I love to keep this open for more feedback but even you said its a bit too specific. Let me know your thoughts! :)

[2018-07-09 07:55] jegnux commented on #163
I agree with @freak4pc
It's a an interesting addition, but we should indeed use `CompositeDisposable` instead. It even simplifies the implementation to only that:

[code]

[2018-07-09 08:06] valerianb commented on #163
There was recently a PR on RxSwift to take care of disposables in one call:
https://github.com/ReactiveX/RxSwift/pull/1676

[2018-07-09 12:31] sgtsquiggs commented on #163
Oh I wasn't aware of CompositeDisposable. I'll update my gist!

[2018-07-09 15:00] bobgodwinx commented on #162
@freak4pc I think we should add it a good idea 💡very useful for a jugging and F1 apps 😁

[2018-07-09 18:53] snowtema commented on #162
@freak4pc  So, maybe these operators need to be renamed? :) Because now their names differ with their behaviour and it would mislead.

[2018-07-09 18:54] freak4pc commented on #162
@snowtema I don't think so ? The emissions are paused and buffered, and then the buffer is "flushed" after un-paused. I don't think the naming is misleading, you might be adding a different meaning to it which is fine - but not conflicting with the fact the name is correct:)

[2018-07-10 09:31] vincent-pradeilles opened #165 "Add operator to add side effect to `catchErrorJustComplete`"
### Name and description
Add the possibility to register a function to perform side-effects when an error occurs

### Motivation for inclusion
This can be helpful if we want to have a default value when an error occurs, whilst still login the error. (For instance, if the observable represents a web service call, we could send a hit to crashlytics)

### Example of use
[code]

[code]

This prints:

[2018-07-10 09:37] freak4pc commented on #165
Uhm I don't think this really adds the much value - I actually think its much cleaner (and clearer to read) when they are chained after each other. You still have to pass in the default value and the error block, and the amount of code you would write is about the same (besides the `do`).

[code]

vs.

[code]

In short, I don't think this provides enough benefit to add an overload for `catchErrorJ

[2018-07-11 19:24] vincent-pradeilles commented on #165
Yeah, that makes sense.

In my app I used it to build on top a function to send the `Error` to crashlytics, which has a lot of added-value; but without this additional process, there's indeed nothing much more than the standard operators.

[2018-07-11 19:24] #165 closed

[2018-07-15 08:44] freak4pc commented on #163
@valerianb that is also a cool PR (the `.bag` one) but doesn't solve the same thing exactly IMO.

You would still need to repeat the binding (a.bind(to: b), a.bind(to:c)), instead of a.bind(to: [b, c])). So when thinking about this the last few days I think this could be a great addition if you'd like to build it @sgtsquiggs

[2018-07-17 21:07] mosamer commented on #122
@freak4pc I already had an implementation when posted this first time, let me find it and create a PR, hopefully, this weekend.

[2018-07-19 17:25] freak4pc opened #168 "[Vote] Naming for Operators that target Collections/Arrays"
We're trying to figure out a good naming scheme for operators that target a collection of something.

For example, like our existing `mapMany` operator. One of the newer ones is `bind(to: [..])`, vs. `bindMany(...)`.

The big question is, should we keep on doing `*many`, or should we use overloads. The cost of overloads mainly comes down to performance, indexing, collision-issues, etc.

Please cas

[2018-07-19 19:58] icanzilb commented on #168
I personally feel that `bind(to:)` and `drive(_)` have way too many overloads already, which unnecessarily slows down compilation times. I'd also rather go with something like `mapAll(_)`, `bindAll(_)`, etc.

[2018-07-19 20:35] freak4pc commented on #168
We already have `mapMany`, so that might need a rename if `All` would be preferred. I'll do a consecutive poll after this one is done :) Thanks for the feedback!

[2018-07-20 07:31] fpillet commented on #168
One thing that would have been very nice is that `bind(to: ...)`, `drive(...)` etc be made to accept a variable number of observers. I assume the conflicts with the base implementation will make it impractical, but still the idea to have the freedom specifying any number of observers is enticing.

This said, and regardless the performance issues with tooling which may resolve themselves in a decad

[2018-07-20 08:13] freak4pc commented on #168
@fpillet To be honest that PR (#166) defines a variadic companion. This might be a good thing to try to pursue on the main repo, possibly.

We can do it in a relatively backwards compatible way, like this:

[code]

Think this could possibly be a good idea for a PR on the main repo. What do you think? @fpillet

[2018-07-20 08:37] freak4pc commented on #168
Opened a basic PR for discussion here:
https://github.com/ReactiveX/RxSwift/pull/1702

[2018-07-20 11:29] freak4pc commented on #168
We can add it but it doesn’t really make sense / is aligned with swift naming convention IMO

[2018-07-20 11:32] bobgodwinx commented on #168
`drive(in ... )` makes sense because you a literally driving into a container of things. It's like `bind(to: ...)` IMHO

[2018-07-20 11:33] freak4pc commented on #168
If that was the case, the original operator would be called `drive(in:)`, like `bind(to:)` applies to singular elements.

I don't know any place in stdlib or Swift in general where the `in:` notation is used to describe a collection. It's not "a container of things", it's just a collection things.

[2018-07-20 11:40] bobgodwinx commented on #168
If have to stick strictly to swift convention we wouldn't invent anything. IMO `drive(in: ...)` stands out especially for code completion with a clear intent because only `drive(...)` is already fully overloaded.

[2018-07-20 11:41] freak4pc commented on #168
Yes but when it comes to naming convention it needs to convey clarity, intent, and known practices of Swift.

in: usually refers to references, or when you “look something up”, but not to describe applying something to many elements IMO.

[2018-07-20 11:44] bobgodwinx commented on #168
In that case we can use `drive(to: ...)` what do you think ?

[2018-07-20 11:47] freak4pc commented on #168
The only thing is it doesn’t sound like a proper English sentence, grammatically speaking. Which is what we should strive for.

Bind to (an) array sounds fine
Drive to (an) array sounds wrong
Drive (an) array sounds fine, which is why I think it’s worth the overload for discoverability.

In any sense, if Krunoslav would agree having the variadic option it would solve overloads since there would be

[2018-07-20 11:54] bobgodwinx commented on #168
Ok then we should speak proper English then at this point. How about `drive(into array: )` or `drive(into collection:  ...)`

[2018-07-20 11:56] freak4pc commented on #168
The problem with into is that in Swift it’s usually used for “In place mutation” (see reduce(into:) )

Not meaning to be anti your suggestion, but finding a good option for drive that makes good grammatical and syntactical sense would be quite hard.

[2018-07-20 12:12] bobgodwinx commented on #168
@freak4pc not at all we're just brainstorming on names. I've exhausted my names.. but `drive(onto collection: ... )` or `drive(into collection: ...)` could still be ok. I know reduce is a combination, but at the same time it works with `Sequence` ... Boh 🤷🏽‍♂️ naming is HARD! 🔨

[2018-07-24 14:51] ericmarkmartin commented on #168
I'd like to raise the precedent that this repo set by changing `map(to:)` to `mapTo()`. In #117,  @fpillet said

[2018-07-24 14:59] freak4pc commented on #168
I’m aware of that precedent. Overloading works much better but is still the least preferable way to go, IMO. Unless it would be in high demand, which it doesn’t seem to be at this point.

[2018-07-31 09:44] jdisho commented on #122
Hey guys, what do you think about this implementation?
I can take over if @mosamer is okay with it 😊

[code]

[2018-07-31 11:09] fpillet commented on #122
@jdisho why go for `flatMap` where a simple `map` would have done the job ? If the `guard` statement fails, just return false. Since you're not doing anything special on this error, I don't think using the more expensive `flatMap` is worth it.

Other than this, 👍

[2018-07-31 11:10] fpillet commented on #122
Oh and also, you want to add a `distinctUntilChange` to remove duplicate states

[2018-08-01 07:36] jdisho commented on #122
There is no problem with Krunoslav implementation @freak4pc. I just did my own and shared it. 😊

[2018-08-20 18:14] ericmarkmartin opened #174 "Support `.not` for `Driver` and `Signal`"
### Name and description
We should add support for the `.not` operator to `Driver` and `Signal`

### Motivation for inclusion
The same as #161, except for `not` instead of `unwrap`

### Example of use
[code]

[2018-08-20 18:15] ericmarkmartin commented on #174
If someone gives me the green light, I'm happy to whip up a PR

[2018-08-20 21:02] freak4pc commented on #174
Hey @ericmarkmartin, yup! that sounds good :) Thanks for taking initiative.

[2018-08-21 17:32] ericmarkmartin commented on #174
I thought it was funny that this didn't exist by the extension provided in `not+RxCocoa`, but it appears that nothing in the `Source/RxCocoa` folder makes it into the pod. If that is fixed this issue should be fixed as well.

[2018-08-21 20:19] ericmarkmartin commented on #174
I was able to get these files by adding `RxSwiftExt/RxCocoa` to my podfile—so I will close this issue, but the README should probably change to reflect that this is necessary to get some of the features.

[2018-08-21 20:19] #174 closed

[2018-08-21 20:29] freak4pc opened #176 "Default main Pod to RxSwift + RxCocoa together"
### Name and description

The actual behavior for the RxSwiftExt Pod should install both RxSwift/RxCocoa extensions, while developers who want _only_ RxSwift extensions can use a subspec.

I'll make a PR for this later this week; creating this issue mainly as a reminder/placeholder. Assigning to myself.

Supersedes #175

[2018-08-24 16:45] #176 closed

[2018-09-12 11:46] yoavschwartz opened #178 "Extension for withUnretained where Element == Void"
### Name and description
I suggest adding an overload for `withUnretained` where the element type of the `Observable` is `Void` where the `Void` value will not be "forwarded" as its useless.
### Motivation for inclusion
I really enjoy the new operator, however, I believe at least 80% of the uses are to inject a safe strong reference of `self` to the subscribe block. When the `Observable` is of `Ob

[2018-09-19 09:00] LieonShelly opened #180 "I have updated Xcode10, and get some building error like following typing."
I have updated xcode10, and get some building error like following typing:

public enum FilterMap<Result> {
    case ignore
    case map(Result) // Identifier Name Violation: Enum element name should only contain alphanumeric characters: 'map(_:)' (identifier_name)

    fileprivate var asOperator: AnyOperator<Result> {
        switch self {
        case .ignore: return .filter
        case .map(le

[2018-09-22 21:01] freak4pc commented on #180
Hey @LieonShelly - Can't reproduce this locally. Are you on the latest SwiftLint? Might be a bug.

[2018-09-26 16:27] LieonShelly commented on #180
yep, it's my older version swiftlint fucked up, Thanks

[2018-09-26 16:43] #180 closed

[2018-10-02 03:40] krishnagniyes opened #182 "Carthage build fail in Xcode 10"
/usr/bin/xcrun xcodebuild -workspace /Users/krishna_kumar/Documents/Mine/Projects/DSP/MemberApp/ios-dsp/Carthage/Checkouts/RxSwiftExt/RxSwiftExt.xcworkspace -scheme RxSwiftExt-iOS -configuration Release -derivedDataPath /Users/krishna_kumar/Library/Caches/org.carthage.CarthageKit/DerivedData/10.0_10A255/RxSwiftExt/3.3.0 -sdk iphoneos ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY=

[2018-10-02 19:32] freak4pc commented on #182
Won't have much time to look into this over the next few days.
Feel free to put up a PR and I can review it.

[2018-10-02 22:23] twittemb opened #183 "FlatMapZip"
### Name and description
Operator: FlatMapZip
Description: the existing "Zip" operators take the Observables to Zip and a closure to compute the data type to return. That return value will be wrapped into an Observable that we can subscribe to.

It is not possible to return directly an Observable in the closure that would be flatten by the Zip operator into the final Observable that we want to sub

[2018-10-03 07:34] freak4pc commented on #183
Hey @twittemb, always great seeing your new proposals :)

Just to be clear, so this would be an alias for:

[code]
?

[2018-10-03 12:09] twittemb commented on #183
Hi @freak4pc

In fact I didn't notice the notation you're suggesting. Xcode does not propose me this "zip" syntax with autocomplete, there is always a resultSelector closure :-(

My proposal makes no sense in that case. Thanks for letting me know this way of writing this 👍.

I close this issue.

See ya.

[2018-10-03 12:09] #183 closed

[2018-10-04 01:11] krishnagniyes commented on #182
I've fixed this issue,
Solution: Updated Carthage version & updated swifLint.

[2018-10-04 01:11] #182 closed

[2018-10-12 17:07] #158 closed

[2018-10-19 11:01] Voxar opened #187 "takeUntil(_: Completable)"
Hello. I have a suggestion for added overloads to the `takeUntil` operator

[code]

Example usage
[code]

Possible implementation at https://github.com/RxSwiftCommunity/RxSwiftExt/compare/master...Voxar:takeUntilCompleted?expand=1

[2018-10-22 16:28] freak4pc commented on #187
I like it ! Will gladly take a PR even though I’d argue this can even be in
the main repo possibly :)

--
Shai Mishali

On October 19, 2018 at 14:01:49, Patrik Sjöberg (notifications@github.com)
wrote:

[2018-11-05 08:40] polonez commented on #43
How about adding `count` operator to this repo(RxSwiftExt) instead of RxSwift?

[2018-11-05 09:09] freak4pc commented on #43
I think there was very low demand for this but I'm not against reviewing a PR with this operato.

[2018-12-03 22:47] nilehmann opened #196 "Missing RxCocoa operators"
Is there any reason why not all possible operators are implemented for SharedSequence?

[2018-12-04 06:35] freak4pc commented on #196
No reason whatsoever - we've been more adamant in noticing new operators are added for both, but some older ones need to be exposed from the RxCocoa folder to retain the "subspec" structure.

Feel free to open PRs for this !

[2018-12-04 06:35] #196 closed

[2019-02-22 03:23] jondwillis opened #197 "Split library into subspecs for Cocoapods"
### Name and description
I suggest splitting this library into subspecs.

### Motivation for inclusion
Splitting into subspecs may reduce overall framework size for those that only want one or a handful of functions, at a minor cost of code simplicity.

### Example of use

pod 'RxSwiftExt/Core'
pod 'RxSwiftExt/PausableBuffered'

[2019-03-01 18:43] freak4pc commented on #197
We had discussions around this, but it doesn't really make sense at the granularity you're suggesting.

Having subspecs per-operator isn't something feasible or sensible in my honest opinion.
I don't think that cost is _minor_ at all, definitely not in the maintainability side of things.

What were your advanced thoughts here?

[2019-03-07 06:28] xiao99xiao opened #200 "'OSAtomicOr32OrigBarrier' was deprecated"
### Name and description
I'm using RxSwiftExt in a watchOS target app, and this warning has been existing for ages:
[code]

### Motivation for inclusion
Having this warning resolved by replacing it with the new `atomic_fetch_or()` or something would be great since Xcode no longer target below watchOS 3.0.

[2019-03-07 10:48] freak4pc commented on #200
Hey. This is related to the RxSwift version you use, and not RxSwiftExt itself.

Update to RxSwift 4.4.1 and you should be fine.

[2019-03-07 10:53] xiao99xiao commented on #200
@freak4pc I'm using RxSwift 4.4.1 and it still exists. The warning is  located at here:
https://github.com/RxSwiftCommunity/RxSwiftExt/blob/2204a685f7761244f311161f6c35ea0406488e17/Source/RxSwift/once.swift#L30

[2019-03-07 10:54] freak4pc commented on #200
Ah I see. Sorry about misunderstanding your question.

[2019-04-09 16:43] Ricardo1980 opened #203 "Using retry and retryWithBehaviour to the infinite and beyond"
Hello,

Can I repeat retry and retryWithBehaviour forever until the observable is disposed?
I see in the docs that maxCount is always a number.

Thanks.

[2019-05-01 14:48] ValCanBuild opened #206 "Latest release not compatible with RxSwift 5.0+"
I've tried upgrading my RxSwift carthage dependency to `5.0.1` but when I do so, RxSwiftExt fails to build. Looking at the build log, there is a lot of warnings about deprecation but only two compile errors:

[code]

[code]

[2019-05-01 14:48] freak4pc commented on #206
Please follow #205. RxSwift 5 was released two days ago, some patience :)

[2019-05-01 14:52] ValCanBuild commented on #206
Apologies, @freak4pc , didn't see there was a pending PR. Shall I close this?

[2019-05-01 14:53] freak4pc commented on #206
Sounds good for now. Thanks !

[2019-05-01 14:53] #206 closed

[2019-05-09 20:13] #122 closed

[2019-05-09 20:43] MortyMerr commented on #163
Closing, cause issue was resolved with RxSwift 5.0

[2019-05-09 20:43] #163 closed

[2019-05-13 16:34] thang2410199 opened #208 "Carthage failed to build"
Hello, I tried to include RxSwiftExt in my carthfile and had some errors, my env:

[code]

`Xcode 10.2.1 (10E1001)`

My carthfile:

[code]

Xcode throw a lots of `Use of undeclared type 'Element'`

[2019-05-13 16:40] freak4pc commented on #208
If it says "undeclared type" element it seems to me you didn't properly update your Carthage dependencies with `carthage update`.

Care to share your **Cartfile.resolved** ?

[2019-05-13 17:06] thang2410199 commented on #208
Here it is:

[code]

[2019-05-13 17:06] thang2410199 commented on #208
I run `carthage update --cache-builds --platform iOS`

[2019-05-13 17:44] MortyMerr commented on #187
Opened pr to main repo here - https://github.com/ReactiveX/RxSwift/pull/1971
@Voxar approved that I can proceed with his idea

[2019-05-13 18:28] hk05 commented on #208
FWIW: This weekend I have experienced quite a few (understatement) problems updating my Rx libraries to the latest versions (Swift 5, using Carthage). I ended up removing dependency on RxSwiftExt, and now my project builds fine again. Unfortunately I did not keep the logs, to help you further with what happened, but I'd like to share that I also experienced issues with updated carthage.

[2019-05-15 12:28] freak4pc commented on #208
@thang2410199 Please provide a reproducible project with the issue. Thanks.

[2019-05-24 21:56] MortyMerr opened #212 "CustomOperator protocol & flatMapSync deprecation suggestion"
`CustomOperator` protocol and `flatMapSync`  was introduced in 2017. Since then It has been used only once in the project. In `filterMap` implementation. With all respect to Jeremie Girault work, this code seems to be not very useful.

As it was mentioned before here https://github.com/RxSwiftCommunity/RxSwiftExt/pull/207 every operator needs to be as atomic as possible, cause user want ability to

[2019-05-24 23:12] MortyMerr commented on #197
I don't think that one operator per subspec is a good idea either. Might be quite confusing for user :)

[2019-05-25 09:55] freak4pc commented on #212
Hey Anton,
I agree with you -

1. I don't see a value for using any of the abstractions such as `AnyOperator` etc. for `filterMap`.

2. That implementation could be highly simplified, as you mentioned:

[code]

3. The main question is if `flatMapSync` is being used by community members. If not, I'd also opt for removing it. If it _is_ used, I'd opt for leaving as is but never using its implementat

[2019-05-25 10:13] MortyMerr commented on #212
Hey @freak4pc thank you for your answer, glad to see understanding from your side :)
Could u please provide a deadline for this question? I mean, if this issue won't get any answers for a week (or for how long?) could I open PR on `flatMapSync` removing?

Don't think so, cause it based in `CustomOperator` abstraction

[2019-05-25 10:14] freak4pc commented on #212
Let's wait for any comments until June 1st.

[2019-05-25 11:12] jegnux commented on #212
Hey @freak4pc, shouldn't `case .ignore` return `.empty()` instead of `.never()` in your implementation suggestion? 🤔

[2019-05-25 11:13] MortyMerr commented on #212
@jegnux yes :)
It was implemented with .empty()  here https://github.com/RxSwiftCommunity/RxSwiftExt/pull/214

[2019-05-25 15:10] freak4pc commented on #212
Was just scribbling :) thanks for the note Jerome

[2019-05-28 06:07] freak4pc commented on #212
PS have to say that using empty is a bit strange. When you filter something using filter() it doesn’t complete the stream, it just “holds is” (like a never).

WDYT @jegnux ?

[2019-05-28 07:57] jegnux commented on #212
@freak4pc yeah but it's in a `flatMap`. If you use `never()`, the resource (NeverProducer) will never be released until the outer subscription is disposed, will it?

[2019-05-28 08:19] freak4pc commented on #212
Uhm right I guess if it's inside a flatMap it makes sense to have it as empty

[2019-06-01 19:35] #200 closed

[2019-06-02 19:19] MortyMerr commented on #212
I created PR on removing `flatMapSync` as was discussed https://github.com/RxSwiftCommunity/RxSwiftExt/pull/214

[2019-06-03 14:03] MortyMerr commented on #178
Hey @yoavschwartz thank you for the detailed explanation of your point. I think that sounds reasonable and we can add this.
@freak4pc what's your opinion?

[2019-06-03 14:28] MortyMerr commented on #212
Closed by https://github.com/RxSwiftCommunity/RxSwiftExt/pull/216

[2019-06-03 14:28] #212 closed

[2019-06-04 17:30] Ronaldoh1 commented on #208
I have the same problem with Xcode 10.2.1 ....

IntermediateBuildFilesPath/RxSwiftExt.build/Release-iphoneos/RxSwiftExt-iOS.build/Objects-normal/arm64/zipWith.bc
Command CompileSwift failed with a nonzero exit code

** ARCHIVE FAILED **

The following build commands failed:
	CompileSwift normal armv7
	CompileSwiftSources normal armv7 com.apple.xcode.tools.swift.compiler
	CompileSwift normal arm64

[2019-06-04 17:32] thang2410199 commented on #208
@freak4pc Sorry I forgot to check the thread, I will provide a sample soon.

[2019-06-05 11:26] thang2410199 commented on #208
I tried again today, build process successes on both sample and prod project.

[2019-06-05 12:34] freak4pc commented on #208
Ok, so can we close this?

[2019-06-05 16:34] Ronaldoh1 commented on #208
@freak4pc I'm still having problems. what are the versions required ?/

I'm running Xcode10.2.1

carthage version 0.33.0

swiftlint 0.32.0

Apple Swift version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)
Target: x86_64-apple-darwin18.6.0

[2019-06-06 12:39] ajjnix opened #217 "Name method `ignoreErrors` break contract of `PublishSubject`"
`PublishSubject` is not working with `ignoreErrors` function because `ignoreErrors` is synonym of `retry`. But `PublishSubject` can't `retry` by contract cause it's not operation.

[code]

In this code **I can think** the sequence can't terminated on error (and yes it's not terminated 😺) but it's not right by contract of `Observable`. So I think this operator is mislead and I suggest to remove it.

[2019-06-06 13:03] freak4pc commented on #217
You can't technically do anything against the contract.

The stream isn't terminated because `ignoreErrors` is just an alias to `retry` - by infinitely retrying the error'd stream, you are stuck in an infinite loop.

What we _can_ do is change the documentation perhaps. I also think the naming is a bit misleading, because you're not exactly ignoring errors. Ignoring errors would be something like

[2019-06-06 22:59] Ronaldoh1 commented on #208
Ok.

Seems like we have to include RxRelay in your frameworks.

add the framework to Link Binary with Libraries

then add new path to your Run script

`$(SRCROOT)/Carthage/Build/iOS/RxRelay.framework
`

[2019-06-07 08:33] freak4pc commented on #208
Yeah, that makes sense not only in the context of RxSwiftExt, but also RxCocoa itself. Since RxCocoa depends on RxRelay.

[2019-06-25 11:46] scalbatty opened #218 "Cascade does not complete if the last observable completes immediately and synchronously"
Hi everyone,

I'm using the `cascade` operator in many kinds of scenarios and I'm very grateful for it.

There is an issue though, when for some reason the last observable completes immediately (i.e. in a synchronous manner), the resulting cascading observable will not complete.

I believe that is because of the `if initialized` test when subscribing to underlying observables: https://github.com/R

[2019-06-25 11:53] freak4pc commented on #218
Hey :)
I'm not too knowledgable with this operator - but since that commit is over 2 years old, I wouldn't want to change the behavior without being positive about this.

@fpillet could you comment ?

[2019-06-26 11:28] fpillet commented on #218
Ouch, the latest commit was there to harden Cascade, not weaken it. Thanks for the detailed error case, I'll fix it.

[2019-06-26 13:10] scalbatty commented on #218
Thanks so much @fpillet!

[2019-07-13 12:27] DivineDominion opened #223 "Proposal for a `Single<Value>.asResult()` operator"
### Name and description

Operator signature:

    Single<Element>.asResult() -> Result<Element, F>

Tries to cast `Event.error` to `Result.Failure` and emits the event as `.next(.failure(...))` instead of exiting the sequence with an error. If the cast fails, continue with whatever error event happened.

#### Implementation

[code]

### Motivation for inclusion

The [RxSwift docs on Traits](https

[2019-07-19 07:11] kroussevrb opened #224 "Documentation for `filterMap` is wrong"
Documentation for `filterMap` is wrong. The comment in the code snippet says "keeps odd numbers". The text below the code snippet says "keeps only even numbers"

[2019-07-21 19:59] freak4pc commented on #224
Thanks :) will gladly accept a PR

[2019-08-22 13:28] SlashDevSlashGnoll opened #228 "SPM Support is missing"
### Name and description
Xcode 11 has 1st class support for Swift Package Manager and this is missing for RxSwiftEx.
https://github.com/ReactiveX/RxSwift/blob/master/Package.swift

### Motivation for inclusion
SPM will quickly become the preferred way to manage 3rd party dependencies.  The RxSwift repo already supports it but since RxSwift is a dependency of RxSwiftExt we cannot move these pods ov

[2019-08-25 02:50] MortyMerr commented on #223
Hi @DivineDominion thank you for contribution!
I think it's not generic enough to be included in RxSwiftExt. Moreover, I would say that using `Result` instead of raw events is not very good idea, because you are actually breaking the contract.
RxSwift best practice - use builtin error system and follow the contract. You can read more about it here - https://github.com/ReactiveX/RxSwift/issues/729

[2019-08-26 12:21] freak4pc commented on #223
I don't know if it's a good idea or not to use Result, but I agree with Anton that it's not a common enough use case to add into RxSwiftExt IMHO. If you could gather some substantial community interest around this, we can explore this further :) Thanks!

[2019-09-04 10:13] svyatogor opened #233 "Cannot install via swift package manager – tag missing"
Package.swift only exists in master branch and not under any of the tags, so it cannot be resolved by swift package manager. Please create a new tag of master (5.0.1 I guess?)

[2019-09-04 11:42] vzsg commented on #233
You can also specify the master branch in Package.swift as a workaround. But 👍, a tag would be great to have.

[2019-09-04 14:11] #224 closed

[2019-09-04 14:13] MortyMerr commented on #187
@freak4pc what do u think about it? Main won't accept it, should I open PR here? It there any sense in this operator? Overwise, should we close this one?

[2019-09-04 14:17] freak4pc commented on #187
I wanted to use it to begin with but given the discussion that emerged, I think it would cause too much confusion. For a completion it fits more with concat than a takeUntil. Closing for now.

[2019-09-04 14:17] #187 closed

[2019-09-13 14:58] RamblinWreck77 commented on #233
+1, just tried this with the Xcode 11 GM

[2019-09-13 15:03] MortyMerr commented on #233
We are waiting for input from @freak4pc for new release )

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-13 15:12] freak4pc commented on #233
Will cut a release in a couple of hours. Thanks !

[2019-09-13 17:41] #233 closed

[2019-09-14 10:30] xiao99xiao opened #237 "5.1.0's podspec.json missed watchOS platform"
In the podspec.json of 5.1.0 here https://github.com/CocoaPods/Specs/blob/eddd738d79f28d9be449ec3864de6c1e2dbe7d04/Specs/b/0/1/RxSwiftExt/5.1.0/RxSwiftExt.podspec.json#L14 , the platform apparently missed `watchos` in the list, which exists in 5.0.0.

All projects containing a `Watch Extension` that uses RxSwiftExt will fail on `pod update RxSwiftExt`, with the error message below:
[code]

This is

[2019-09-14 12:44] freak4pc commented on #237
Hey, this should be resolved now in 5.1.1. Thanks for pinging me!

[2019-09-14 12:44] #237 closed

[2019-09-18 12:14] akolov opened #238 "`merge(with:)` breaks RxSwift's `merge()`"
Hi, I've stumbled upon an issue where importing RxSwiftExt breaks behavior of `Observable.of(...).merge()`.

Given the following sample code:
[code]

Now, depending on whether I `import RxSwiftExt` or not produces drastically different result.

First, output without RxSwiftExt, everything works as expected:
[code]

Next, if I `import RxSwiftExt`, result is something completely unexpected. I get ev

[2019-09-18 12:16] freak4pc commented on #238
Hey, this definitely doesn't seem like an issue with the framework as these two methods have entirely different signatures.

@jdisho could you take a look at his example perhaps?

[2019-09-18 12:20] jdisho commented on #238
Thanks for pointing it out. I will have a look asap 😊

[2019-09-18 14:38] cliss commented on #238
+1. My project breaks with [`5.1.1`](https://github.com/RxSwiftCommunity/RxSwiftExt/releases/tag/5.1.1) but works with [`5.0.0`](https://github.com/RxSwiftCommunity/RxSwiftExt/releases/tag/5.0.0). All of my build errors in `5.1.1` were due to issues with `merge()`.

[2019-09-22 08:28] freak4pc commented on #238
Hey @jdisho - can you let me know if you'll be able to take a look in the next day or two? No problem if not, but I want to know since otherwise I'll just carve out some time to look into it :)

[2019-09-22 13:52] jdisho commented on #238
Sorry for the late reply and not finding the time this weekend. Definitely, I will have a look tomorrow @freak4pc 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-24 12:58] jdisho commented on #238
I see the problem.. 🤔

<img width="551" alt="Screenshot 2019-09-24 at 14 56 52" src="https://user-images.githubusercontent.com/8223362/65513440-90335c80-dedb-11e9-9a3c-ea280ff08f00.png">

[2019-09-24 13:04] jdisho commented on #238
I see the problem... 🤔

<img width="861" alt="Screenshot 2019-09-24 at 15 04 02" src="https://user-images.githubusercontent.com/8223362/65513966-a55cbb00-dedc-11e9-8ae8-2af8ab3404a3.png">

[2019-09-24 13:10] jdisho commented on #238
We can either rename to `mergeWith(_ others:)` or, convert the `others` to an array rather than having it as a sequence.

Any other suggestion?

[2019-09-24 13:25] freak4pc commented on #238
the former isn't great because we already have zip(with:)
Would converting to an array work here ? Seems reasonable to me.

[2019-10-01 21:00] MortyMerr commented on #203
Closed due to lack of details/activity. Please feel free to reopen it :)

[2019-10-01 21:00] #203 closed

[2019-10-02 01:48] cliss commented on #238
+1 to the idea of using an array. 😇

[2019-10-02 07:50] freak4pc commented on #238
Cool, @cliss - any way for you to confirm that changing the method to use an array would solve the ambiguity for your code base ? I'll try taking a look myself tomorrow or so and push a PR.

[2019-10-03 02:47] cliss commented on #238
Point me to a branch and I'm happy to give it a shot!

[2019-10-03 08:28] freak4pc commented on #238
Hey @cliss - it's on the `mergeWithArray` branch :)
Thank you!

[2019-10-03 08:39] akolov commented on #238
It definitely solves issues I was having with merge.

[2019-10-03 22:32] freak4pc commented on #238
@cliss - would appreciate you letting me know as well before I'm cutting a new release :) thanks @akolov !

[2019-10-04 06:07] MortyMerr opened #242 "Add withUnretained for all traits"
Currently, `withUnretained` defined only for Observable. Wouldn't it be useful to add it for all traits?

[2019-10-04 15:28] #178 closed

[2019-10-04 15:28] MortyMerr commented on #223
Closed due to lack of arguments for adding this

[2019-10-04 15:28] #223 closed

[2019-10-07 01:55] cliss commented on #238
Crap, I'm *so* sorry; just saw this. Will test first thing tomorrow morning.

My utmost apologies!

[2019-10-07 13:46] cliss commented on #238
@freak4pc Concur with @akolov; the `mergeWithArray` branch fixed my build. 🎉

Apologies, again, for the delay!

[2019-10-11 21:48] #238 closed

[2019-10-11 21:48] freak4pc commented on #238
Merged it, will be out in a new release by next week most likely :)

[2019-10-14 09:14] sebastianvarela opened #244 "Sweeten binds between observers and observables"
### Name and description
After several years working with ReactiveSwift now we have a long-term project that use RxSwift. The first thing I miss is the binding operator for observables/observer.

When someone want to bind an `observer` to an `observable` have to do something like this:
[code]

I made an extension that create two operators to link observer-observable-disposebag:
[code]
### Motivati

[2019-10-14 14:32] MortyMerr commented on #244
I am strongly against this proposal.
It doesn’t bring any value, just allows to implement things in another way. It’s obviously just a wrapper around existing methods. They will be confusing for new user.
They are not express “drive/bind/emit” behavior of different traits.
This “sweetness” is subjective. I don’t think this these operators are more readable. As I know RxSwift already had similar op

[2019-10-14 14:58] jdisho commented on #244
I see the point and I agree with you @MortyMerr, but in my opinion the way you wrote this message seems harsh and unwelcoming. Even though I don't make this proposal, I felt uncomfortable reading your answer. 😅😅

[2019-10-14 15:30] MortyMerr commented on #244
@jdisho lol 😅 My message is just arguments 😀 What do you want me to do with it? Add an emoji after each sentence? 😊

[2019-10-14 17:16] jdisho commented on #244
I think it would be great to show some kindness and appreciation, **at least** for the time
invested to make a proposal (as an issue or pull-request). 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-14 17:19] freak4pc commented on #244
Leaving the sentiments and appreciation for the code aside, I also agree that whatever value this PR would bring is not universal enough to share in this repo (personal opinion of course).

Custom operators are a touchy subject, too many people are entirely against it, and they're very easy to make. So I think people who are _for_ this usually just add them, so it doesn't justify adding here regar

[2019-10-14 19:00] jdisho commented on #244
I suppose we can close this issue.

[2019-10-14 19:00] #244 closed

[2019-11-26 19:34] cliss commented on #238
@freak4pc bump 😇

[2019-11-26 19:35] freak4pc commented on #238
Oh yikes! Thought I took care of this since I merged it 🤦‍♂
I just put a reminder to cut a release tomorrow. Thanks for the reminder! @cliss

[2019-11-27 19:01] freak4pc commented on #238
@cliss and others - 5.2.0 was just released 🎉

[2019-12-03 14:16] cliss commented on #238
Thanks @freak4pc! 🍻

[2020-03-10 19:28] 0xhiroki opened #247 "Support RxSwift 5.1.0"
Hi everyone,

There's a new version (5.1.0) in RxSwift which includes a fix for [Apple's hard deprecation, starting April 2020.](https://developer.apple.com/news/?id=12232019b). Please update the RxSwift dependency version to 5.1.0.

[2020-03-10 21:56] jdisho commented on #247
I think this should work out of the box without any further changes. In this lib RxSwift is set to `~> 5.0`, which includes 5.1 too.

Can you try by doing a `pod update`?

[2020-03-10 22:13] 0xhiroki commented on #247
You are right! I will close this.

[2020-03-10 22:13] #247 closed

[2020-06-29 20:47] i-schuetz commented on #9
What about the use case of `serialize` to handle multi threaded access?

[2020-06-30 08:09] freak4pc commented on #9
Hey @i-schuetz, this is a 4 year old thread :)
Please open a new issue if you have a suggestion/request.

Thanks!

[2020-08-17 05:53] tospery opened #250 "repeatWithBehavior has memory leak"
repeatWithBehavior has memory leak

[2020-08-17 07:19] freak4pc commented on #250
Hey, this isn't a valid Issue. Please provide many more details, analytics, reproduction, etc.
If you can provide a PR to fix it, that would be best.

[2020-08-18 02:24] tospery commented on #250
![image](https://user-images.githubusercontent.com/3716286/90463175-dbcaa680-e13c-11ea-92b8-d93f3993e59c.png)
i repeat a simple observable sequence, and found the memory will grow

[2020-08-19 01:45] tospery commented on #250
The demo as above, can you help me, thanks

[2020-08-26 01:56] tospery opened #251 "repeatWithBehavior has memory leak"
![image](https://user-images.githubusercontent.com/3716286/91246441-671dea80-e782-11ea-9fa1-04f0c9c44968.png)
i repeat a simple observable sequence, and found the memory will grow

[2020-09-02 02:01] #251 closed

[2020-09-23 03:14] tospery commented on #250
Does anyone have the same problem?

[2020-09-24 18:58] vzsg commented on #250
I copied your example into a project (it was pretty cumbersome considering you uploaded a screenshot, not the code itself), and I can confirm that memory usage steadily increases while the subscription is alive and repeating itself. Especially after changing the interval to 0.001 seconds instead of 1.

![image](https://user-images.githubusercontent.com/1783465/94187340-18aa5b80-fea8-11ea-9672-71fb

[2020-09-24 19:08] vzsg commented on #250
Here is the full project for quicker repro: [RepeatTest.zip](https://github.com/RxSwiftCommunity/RxSwiftExt/files/5278608/RepeatTest.zip)
.

[2020-09-30 03:03] tospery commented on #250
Thanks your reply, do you have any idea to solve this problem?

[2020-09-30 03:52] freak4pc commented on #250
I tried to debug it but couldn’t immediately find a solution. I’ll see if I can find some more time but this is a bit of a packed period of time.

Shai
On Sep 30, 2020, 6:03 AM +0300, 杨建祥 <notifications@github.com>, wrote:

[2020-10-04 20:00] vzsg commented on #250
None, sadly. All I could do is pop in and add the missing details of the issue.

Perhaps as a temporary measure, you could replace repeat with an interval + flatMapFirst.

[2020-10-28 22:52] hannahmestes commented on #208
I am running into this problem today, with similar problems as @Ronaldoh1 when using Carthage. Everything works fine if I remove RxSwiftExt- I also tried this with including ONLY RxSwift and RxSwiftExt in my Cartfile and building from scratch, and the error persists.

Build file output:

** ARCHIVE FAILED **

The following build commands failed:
	CompileSwift normal armv7
	CompileSwiftSources norm

[2020-10-28 23:29] hannahmestes commented on #208
I solved my problem: specify for Carthage to use RxSwift version 5.1.1 instead of newest 6.x

[2020-10-29 04:49] freak4pc commented on #208
Thanks ! I'll take a look.
This project doesn't target RxSwift 6 yet since it's in RC1.

[2020-11-19 08:14] jlrrsands opened #255 "RxSwift 6"
Hi, we're hoping to upgrade to RxSwift 6 in our project as we also upgrade to XCode 12, is there any plans to update the RxSwiftExt dependency from 5 to 6 too?

[2020-11-19 09:31] asam139 opened #256 "mapToVoid"
### Name and description

Add `mapToVoid` to map any observable type to void.

### Motivation for inclusion

I am tired to see `map { _ in }` in the code

### Example of use

`myObserver.mapToVoid()` in place of `myObserver.map { _ in }`

### Code

[code]

[2020-11-20 14:07] freak4pc commented on #255
Definitely on my to-do list with RxSwift 6 final coming out soon. I'll try getting to it or at least put up a branch/PR soon. Thanks !

[2020-11-20 14:11] freak4pc commented on #256
Hey @asam139 - I appreciate the sentiment, and we actually have this operator in our own codebase.
However, it feels a bit too opinionated from one hand, and too trivial on the other hand.

Meaning, it is not helpful or wanted for everyone, but it takes a second to add it if you're interested (similarly to `mapTrue()`, `mapFalse()`, `mapOptional()` and other tidbits we like and use in our code bas

[2020-11-20 21:28] freak4pc commented on #255
Please try the `rxswiftext6` branch and let me know if you find anything funky. Thanks!

[2020-11-24 15:52] asam139 commented on #256
Ok, you've convinced me 🤣, I will add to my own extensions.

[2020-11-24 15:52] #256 closed

[2020-11-24 15:55] asam139 opened #258 "Support mapToMany for Single"
### Name and description

Support mapMany for Single

### Motivation for inclusion

It is very annoying to convert to Observable to be able to use mapMany and then to convert it to single.

### Example of use

[code]

In place of
[code]

[2021-01-04 13:31] jdisho commented on #255
Closing this issue because of #259.

[2021-01-04 13:31] #255 closed

[2021-01-17 02:27] winstondu commented on #250
We ran into this problem as well, leading to a stackOverflow.

[code]

[2021-01-17 04:00] winstondu commented on #250
We fixed this problem by rewriting repeatWithBehavior.

This is our solution for RxSwift 5.1.1. While I'm not completely sure it doesn't leak, we were no longer seeing a clear increase in memory over time.

Feel free to adapt back to official solution @freak4pc

https://gist.github.com/winstondu/91da8a889ed4e42ef7b1c11951cd3edd

[2021-01-17 21:00] freak4pc commented on #250
Thank you! Any chance you can make a PR out of this, so it's a bit easier to review the changes you made in your rewrite? Appreciate your help!

[2021-01-17 21:21] winstondu commented on #250
Unfortunately this solution is based on RxSwift 5.1.1, not the current head of RxSwift (6). We may not migrate to RxSwift 6 for a while.

I can still make the PR, but it will be on RxSwiftExt 5.

[2021-01-17 22:16] winstondu commented on #250
@freak4pc , I can't even build the repo right now. Carthage does not work for XCode 12: https://github.com/Carthage/Carthage/pull/3106

[2021-01-17 22:17] freak4pc commented on #250
Yup, unfortunately aware of that :(
Need to use the SPM/CocoaPods alternatives in this case. Might have to update the demo project.

[2021-01-28 02:16] anton-plebanovich opened #260 "Retry with behavior produce one less retry than specified in the maxCount"
### Name and description
Retry with behavior produce one less retry than specified in the `maxCount` parameter. I tried to retry sequence once using `maxCount: 1` but it wasn't retried at all. The issue is that `currentAttempt: 1` [by default](https://github.com/RxSwiftCommunity/RxSwiftExt/blob/main/Source/RxSwift/retryWithBehavior.swift#L65) and there is a check also `guard currentAttempt > 0` so

[2021-01-28 05:35] freak4pc commented on #260
Hey Anton, i believe this follows the behavior of the original retry where retry(3) would perform the initial attempt + 2 tries.

Do you mind confirming that?

[2021-01-28 05:54] anton-plebanovich commented on #260
@freak4pc you are right about that one! Should I create a pull request with documentation update then to be in accordance with the original retry?
[code]

The same question about the parameter name it's called `maxAttemptCount` for the original `retry` instead of `maxCount`.

[2021-01-28 15:13] DmitriyBagrov92 opened #261 "6.0.0 .xcframework generation exception via Carthage"
### 6.0.0 .xcframework generation excpetion

### Carthage 0.36.1, Xcode 12.4, RxSwiftExt 6.0.0 can't be attached as dependency with exception:
*** Checking out RxSwift at "6.0.0"
*** Checking out XCGLogger at "7.0.1"
*** Checking out RxSwiftExt at "6.0.0"
*** Checking out YapDatabase at "4.0.1"
*** xcodebuild output can be found in /var/folders/h9/m2y6wd75175c2hlxmx7tnrc40000gn/T/carthage-xcodebui

[2021-01-28 15:14] DmitriyBagrov92 commented on #261
[Uploading carthage-xcodebuild.9qTXG7.log…]()

[2021-01-28 15:15] freak4pc commented on #261
Did you check just RxSwift without the other dependencies in an empty project? Please provide that project if so:) thank you!

[2021-01-28 15:17] DmitriyBagrov92 commented on #261
Yes, RxSwift 6.0.0 is building without problems:
![Uploading image.png…]()

[2021-01-28 15:21] DmitriyBagrov92 commented on #261
I have an issue only because of RxSwiftExt attaching:
<img width="1448" alt="image" src="https://user-images.githubusercontent.com/21103526/106159160-90a9ca80-6195-11eb-9f18-440656c5aff3.png">

[2021-01-28 15:22] DmitriyBagrov92 commented on #261
here the log:
[carthage-xcodebuild.9qTXG7.log](https://github.com/RxSwiftCommunity/RxSwiftExt/files/5888261/carthage-xcodebuild.9qTXG7.log)

[2021-01-28 15:24] freak4pc commented on #261
I don't believe we've added official XCFramework support but I'm happy to accept a PR if you're willing to debug it. Not sure I'll have time to do it myself in the coming weeks.

[2021-01-28 15:28] DmitriyBagrov92 commented on #261
Ok, really appreciate for the quick answer. I'll try to fix it myself!

[2021-01-30 21:11] freak4pc commented on #260
Changing the parameter would be breaking so no, but happy to accept a doc fix :) Thanks!

[2021-02-01 11:48] anton-plebanovich commented on #260
@freak4pc https://github.com/RxSwiftCommunity/RxSwiftExt/pull/262
I am not a native speaker though so corrections are welcome

[2021-02-13 22:28] alex-vasenin opened #263 "RxSwift 6.1 support"
It would be nice if we could update to [6.1](https://github.com/ReactiveX/RxSwift/releases/tag/6.1.0)

[2021-02-13 22:30] freak4pc commented on #263
Thanks for reporting Alex. This is just a mistake in the podspec, it should probably just be `~> 6.0` since there aren't actual code changes to worry about here.

Thanks for the report, I'll take care of it tomorrow.

[2021-02-20 21:17] freak4pc commented on #263
Should be in 6.0.1

[2021-02-20 21:17] #263 closed

[2021-04-07 06:54] #260 closed

[2021-04-30 09:03] hello-im-szymon opened #265 "Carthage fails to resolve dependency on RxSwift (RxSwiftExt 6.0.1)"
### Name and description

It seems that RxSwiftExt in version 6.0.1 cannot properly resolve dependency on RxSwift.
I've tried to add it in Cartfile using two different ways and there are two very different results. Please see examples below.
For testing purposes it's an empty folder with only Cartfile inside.

Carthage version: `0.37.0`

### Example of use

Cartfile: `github "RxSwiftCommunity/RxSw

[2021-05-01 21:06] freak4pc commented on #265
Can you provide an example project with the issue?
Thanks

[2021-05-02 08:02] hello-im-szymon commented on #265
Calling it a project is a stretch, it only contains Cartfile with just RxSwiftExt in it

[RxSwiftExtCarthage601.zip](https://github.com/RxSwiftCommunity/RxSwiftExt/files/6410957/RxSwiftExtCarthage601.zip)

[code]

[2021-05-05 10:54] hello-im-szymon commented on #265
There are now 2 PRs addressing this issue:
https://github.com/RxSwiftCommunity/RxSwiftExt/pull/264
https://github.com/RxSwiftCommunity/RxSwiftExt/pull/266

[2021-05-06 21:06] #265 closed

[2021-05-06 21:07] freak4pc commented on #261
I think this should be fixed in 6.1.0. Thanks.

[2021-05-06 21:07] #261 closed

[2021-09-02 19:00] WestFlow127 commented on #43
This count operator doesn't recognize collections. So I obtained a solution from a fellow swift dev, Daniel, in the RxSwift Slack:

[code]

pop this in the project and you can count items with certain ID like so:

[code]

Daniel noted the following: "Their count tracks a count of the number of next events that satisfy a predicate, where this count tracks the number of values in a sequence from eac

[2021-09-29 08:32] foxware00 opened #269 "Update podspec for 6.1.0"
Are we able to update the podspec to keep up-to-date with the latest release?

[code]

[2021-09-30 22:21] WestFlow127 commented on #269
Same